@import "../variables";
@import "../vendor/utils";
@import "../prefixes";

.avatar-name-iq {
  text-align: center;
  @media (max-width: 800px) {
    margin-left: 6.5%;
    margin-right: 6.5%;
  }
  > a {

    > .poly-avatar {
      font-size: 2em;
      display: inline-block;
      width: 100%;
      position: relative;
      height: 4em;

      > .account-avatar-inline {
        display: inline-block;
        float: left;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-90%, -50%);
        -moz-transform: translate(-90%, -50%);
        -ms-transform: translate(-90%, -50%);
        -o-transform: translate(-90%, -50%);
        transform: translate(-90%, -50%);
        width: 5em;
        > .poly-avatar-icon {
          //max-width: 140px;
          //@media (max-width: 800px) {
          max-width: 4em;
          width: 100%;
          //}
          .poly-clip();
        }

      }
      > .account-info-inline {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(10%, -50%);
        -moz-transform: translate(10%, -50%);
        -ms-transform: translate(10%, -50%);
        -o-transform: translate(10%, -50%);
        transform: translate(10%, -50%);
        //margin-top: 0.7em;
        //margin-left: 20px;
        color: @color-red;
        font-weight: bold;
        text-align: left;
        white-space: nowrap;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        //@media (max-width: 800px) {
        width: 6em;
        //margin-top: 6.5%;
        //margin-left: 0;

        //}
      }
    }
  }
}

.avatar {

  > .avatar-name-iq-nav {
    z-index: 1;
    position: relative;
    height: 74px;
    > .avatar-nav-inline {
      display: inline-block;
      float: right;
      margin-left: 22px;
      > a {
        display: block;
        > .img-user-avatar {
          max-width: 68px;
          .poly-clip();
        }

      }
      > .cube-popup {
        cursor: pointer;
        position: absolute;
        height: 28px;
        right: -13px;
        top: 32px;
        &:hover + .avatar-iq-bar {
          .transition(max-height 0.4s);
          max-height: 90px !important;
        }
      }
    }
    > .avatar-name-iq-nav-inline {
      float: right;
      display: inline-block;
      margin-top: 7px;
      margin-left: 10px;
      color: @color-red;
      > .avatar-name-nav {
        font-size: 20pt;
        font-weight: 900;
      }
      > .avatar-iq-nav {
        font-size: 15pt;
        font-weight: 500;
      }

    }
  }
  > .avatar-name-iq-nav-mobile {

    > .avatar-nav-mobile-inline {
      display: inline-block;
      float: left;
      margin-top: 7px;
      position: relative;
      .img-user-avatar {
        max-width: 68px;
        .poly-clip();
      }

      > .cube-popup {
        cursor: pointer;
        position: absolute;
        height: 20px;
        right: -8px;
        top: 32px;
        z-index: 1;
      }
    }
    > .avatar-name-iq-nav-mobile-inline {
      display: inline-block;
      margin-left: 10px;
      margin-top: 10px;
      color: @color-red;

      > .avatar-name-nav-mobile {
        font-size: 20pt;
        font-weight: 900;
        @media (max-width: 450px) {
          display: none;
        }
      }
      > .avatar-iq-nav-mobile {
        font-size: 15pt;
        @media (max-width: 450px) {
          display: none;
        }
      }

    }
  }
}

.iq-points-popup {
  .transition(max-height 0.4s);
  max-height: 90px !important;

}

.avatar-iq-bar {
  .transition(max-height 0.4s);
  max-height: 0;
  overflow: hidden;
  background: #e6e6e6;
  margin-top: 9px;
  height: 90px;
  position: absolute;
  top: 75px;
  right: -120px;
  width: 333px;
  -webkit-box-shadow: 10px 11px 31px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 11px 31px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 11px 31px -3px rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  z-index: 1;
  //@media(max-width:1100px){
  //  display:none;
  //}
  @media (max-width: 800px) {
    right: 27px;
    top: 75px;
  }
  &:after, &:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-color: rgba(230, 230, 230, 0);
    border-bottom-color: #e6e6e6;
    border-width: 15px;
    margin-left: -15px;
    @media (max-width: 450px) {
      margin-left: 72px;
    }
  }

  > .bar-text {
    position: absolute;
    top: 5px;
    left: 32%;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 18pt;
    color: @color-red;
  }
  > .bar-min-iq {
    position: absolute;
    margin-top: 15px;
    margin-left: 16px;
    color: @color-red;
    font-size: 12pt;
  }
  > .bar-max-iq {
    position: absolute;
    right: 0;
    margin-top: 15px;
    margin-right: 16px;
    color: @color-red;
    font-size: 12pt;
  }
  > hr {
    height: 12px;
    margin-top: 40px;
    border: 0;
    background: @color-red;
    width: 90%;
  }
  > .bar-iq {
    > .bar-iq-box {
      //background: @header-bg-color;
      position: absolute;
      margin-top: -26px;
      > img {
        height: 25px;
      }
      > .iq-points {
        width: 100%;
        position: absolute;
        bottom: -12px;
        margin: 0 auto;
        color: @color-red;
        font-size: 12pt;
        > .under-box-centered-iq {
          position: absolute;
          left: 50%;
          top: 100%;
          .transform(translate(-50%, -100%));
        }
      }
    }

  }
}


