@import "../prefixes";
@import "../variables";

html {
    > body {
        > .helpers {
            display: none;
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 9999;
            -webkit-transition: display 1s;
            -moz-transition: display 1s;
            -ms-transition: display 1s;
            -o-transition: display 1s;
            transition: display 1s;
            &.prevent-clicking {
                display: block;
                > .click-prevention {
                    display: block;
                }
            }

            &.show-loader {
                background: rgba(0, 0, 0, 0.3);
                .filter(blur(0px));
                & + #main {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    .filter(blur(25px));
                    opacity: 0.95;
                }
                display: block;
                > .fractal-loader {
                    display: block;
                    > .loader-back {
                        > .loader {

                            > .loader-cube-wrapper {
                                > .loader-cube {
                                    > .loader-cube-sides {
                                        > .loader-front {
                                            .animation(loader-front-rotation 7s infinite);
                                            animation-timing-function: ease-in-out;

                                        }
                                        > .loader-left {
                                            .animation(loader-left-rotation 7s infinite);
                                            animation-timing-function: ease-in-out;

                                        }
                                        > .loader-right {
                                            .animation(loader-right-rotation 7s infinite);
                                            animation-timing-function: ease-in-out;

                                        }
                                        > .loader-back {
                                            .animation(loader-back-rotation 7s infinite);
                                            animation-timing-function: ease-in-out;

                                        }
                                        > .loader-bottom {
                                            .animation(loader-bottom-rotation 7s infinite);
                                            animation-timing-function: ease-in-out;

                                        }
                                        > .loader-top {
                                            .animation(loader-top-rotation 7s infinite);
                                            animation-timing-function: ease-in-out;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            > .click-prevention {
                display: none;
                background: transparent;
                height: 100%;
                width: 100%;
            }

            > .fractal-loader {
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                > .loader-back {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    > .loader {
                        z-index: 9999;
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        //width: 100%;
                        //height: 100%;
                        //background: url("../img/loader-logo.png") no-repeat center center;
                        //background-size: auto 90%;
                        -webkit-transform: translate(-50%, -50%) scale(0.5);
                        -moz-transform: translate(-50%, -50%) scale(0.5);
                        -ms-transform: translate(-50%, -50%) scale(0.5);
                        -o-transform: translate(-50%, -50%) scale(0.5);
                        transform: translate(-50%, -50%) scale(0.5);
                        @media (max-height: 400px) {
                            -webkit-transform: translate(-50%, -50%) scale(0.3);
                            -moz-transform: translate(-50%, -50%) scale(0.3);
                            -ms-transform: translate(-50%, -50%) scale(0.3);
                            -o-transform: translate(-50%, -50%) scale(0.3);
                            transform: translate(-50%, -50%) scale(0.3);
                        }
                        @media (max-height: 250px) {
                            -webkit-transform: translate(-50%, -50%) scale(0.1);
                            -moz-transform: translate(-50%, -50%) scale(0.1);
                            -ms-transform: translate(-50%, -50%) scale(0.1);
                            -o-transform: translate(-50%, -50%) scale(0.1);
                            transform: translate(-50%, -50%) scale(0.1);
                        }
                        @media (max-height: 120px) {
                            -webkit-transform: translate(-50%, -50%) scale(0.05);
                            -moz-transform: translate(-50%, -50%) scale(0.05);
                            -ms-transform: translate(-50%, -50%) scale(0.05);
                            -o-transform: translate(-50%, -50%) scale(0.05);
                            transform: translate(-50%, -50%) scale(0.05);
                        }
                        @media (max-width: 385px) {
                            -webkit-transform: translate(-50%, -50%) scale(0.3);
                            -moz-transform: translate(-50%, -50%) scale(0.3);
                            -ms-transform: translate(-50%, -50%) scale(0.3);
                            -o-transform: translate(-50%, -50%) scale(0.3);
                            transform: translate(-50%, -50%) scale(0.3);
                        }
                        > .loader-logo {
                            display: block;
                            height: 100%;
                            margin: auto;
                        }
                        > div.loader-cube-wrapper {
                            width: 23%;
                            padding-bottom: 23%;

                            &.loader-wrapper {
                                width: 11%;
                                height: 100%;
                                float: left;
                                &:nth-child(odd) {
                                    margin-left: 3%;
                                }
                            }
                            //&.loader-wrapper:nth-child(3n+3){
                            //    margin-left:0.5%;
                            //}
                            &.transform-center {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                .translate(-50%, -50%)
                            }
                            > div.loader-cube {
                                color: #fff;
                                text-align: center;
                                width: 50%;
                                position: relative;
                                //perspective: 1700px;
                                //perspective-origin: left 50%;
                                &.loader-main-cube-wrapper {
                                    height: 100%;
                                    width: 100%;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    bottom: 0;
                                    right: 0
                                }
                                > div.loader-cube-sides {
                                    height: 100%;
                                    width: 100%;
                                    .perspective(9999px);
                                    .transform-style(preserve-3d);
                                    //> span.cube-shadow {
                                    //    height: 10px;
                                    //    width: 10px;
                                    //    position: absolute;
                                    //    top: 50%;
                                    //    left: 50%;
                                    //    .translate(-50%, -50%);
                                    //    .box-shadow(0px 0px 150px 130px rgba(0, 0, 0, 0.75));
                                    //}

                                    &.effect-on {
                                        > .loader-front, .loader-left, .loader-top, .loader-right, .loader-bottom, .loader-back {
                                            -webkit-transition: -webkit-transform 500ms;
                                            -moz-transition: -moz-transform 500ms;
                                            -ms-transition: -ms-transform 500ms;
                                            -o-transition: -o-transform 500ms;
                                            transition: transform 500ms;
                                        }
                                    }
                                    > .loader-front, .loader-left, .loader-top, .loader-right, .loader-bottom, .loader-back {
                                        height: 100%;
                                        width: 100%;
                                        position: absolute;
                                        top: 0;
                                        bottom: 0;
                                        left: 0;
                                        right: 0;

                                        -webkit-backface-visibility: hidden;
                                        -moz-backface-visibility: hidden;
                                        -ms-backface-visibility: hidden;
                                        backface-visibility: hidden;
                                        outline: 0.1px solid transparent;
                                        //.backface-visibility(hidden) !important;
                                        > span {
                                            display: block;
                                            font-size: 6em;
                                            position: absolute;
                                            top: 50%;
                                            left: 50%;
                                            //.translate(-50%, -50%);
                                            -webkit-transform: translate(-50%, -50%) translateZ(0px) scale(1);
                                            -moz-transform: translate(-50%, -50%) translateZ(0px) scale(1);
                                            -ms-transform: translate(-50%, -50%) translateZ(0px) scale(1);
                                            -o-transform: translate(-50%, -50%) translateZ(0px) scale(1);
                                            transform: translate(-50%, -50%) translateZ(0px) scale(1);
                                        }

                                    }
                                    &.show-back {
                                        > .loader-front {
                                            .transform(perspective(1700px) rotateX(0deg) rotateY(-180deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg));

                                        }
                                        > .loader-left {
                                            .transform(perspective(1700px) rotateX(0deg) rotateY(-270deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg));

                                        }
                                        > .loader-right {
                                            .transform(perspective(1700px) rotateX(0deg) rotateY(-90deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg));

                                        }
                                        > .loader-back {
                                            .transform(perspective(1700px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg));

                                        }
                                        > .loader-bottom {
                                            .transform(perspective(1700px) rotateX(-90deg) rotateY(0deg) rotateZ(-180deg) rotateY(-90deg) translateX(50%) rotateY(90deg));

                                        }
                                        > .loader-top {
                                            .transform(perspective(1700px) rotateX(90deg) rotateY(0deg) rotateZ(180deg) rotateY(-90deg) translateX(50%) rotateY(90deg));
                                        }
                                    }

                                    &.show-left {
                                        > .loader-front {
                                            .transform(perspective(1700px) rotateX(0deg) rotateY(90deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg));

                                        }
                                        > .loader-left {
                                            .transform(perspective(1700px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg));

                                        }
                                        > .loader-right {
                                            .transform(perspective(1700px) rotateX(0deg) rotateY(180deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg));

                                        }
                                        > .loader-back {
                                            .transform(perspective(1700px) rotateX(0deg) rotateY(270deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg));

                                        }
                                        > .loader-bottom {
                                            .transform(perspective(1700px) rotateX(-90deg) rotateY(0deg) rotateZ(90deg) rotateY(-90deg) translateX(50%) rotateY(90deg));

                                        }
                                        > .loader-top {
                                            .transform(perspective(1700px) rotateX(90deg) rotateY(0deg) rotateZ(-90deg) rotateY(-90deg) translateX(50%) rotateY(90deg));
                                        }
                                    }
                                    &.show-right {
                                        > .loader-front {
                                            .transform(perspective(1700px) rotateX(0deg) rotateY(-90deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg));

                                        }
                                        > .loader-left {
                                            .transform(perspective(1700px) rotateX(0deg) rotateY(-180deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg));

                                        }
                                        > .loader-right {
                                            .transform(perspective(1700px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg));

                                        }
                                        > .loader-back {
                                            .transform(perspective(1700px) rotateX(0deg) rotateY(90deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg));

                                        }
                                        > .loader-bottom {
                                            .transform(perspective(1700px) rotateX(-90deg) rotateY(0deg) rotateZ(-90deg) rotateY(-90deg) translateX(50%) rotateY(90deg));

                                        }
                                        > .loader-top {
                                            .transform(perspective(1700px) rotateX(90deg) rotateY(0deg) rotateZ(90deg) rotateY(-90deg) translateX(50%) rotateY(90deg));
                                        }
                                    }
                                    &.show-front {
                                        > .loader-front {
                                            .transform(perspective(1700px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg));

                                        }
                                        > .loader-left {
                                            .transform(perspective(1700px) rotateX(0deg) rotateY(-90deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg));

                                        }
                                        > .loader-right {
                                            .transform(perspective(1700px) rotateX(0deg) rotateY(90deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg));

                                        }
                                        > .loader-back {
                                            .transform(perspective(1700px) rotateX(0deg) rotateY(180deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg));

                                        }
                                        > .loader-bottom {
                                            .transform(perspective(1700px) rotateX(-90deg) rotateY(0deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg));

                                        }
                                        > .loader-top {
                                            .transform(perspective(1700px) rotateX(90deg) rotateY(0deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg));
                                        }
                                    }
                                    &.show-bottom {
                                        > .loader-front {
                                            .transform(perspective(1700px) rotateX(90deg) rotateY(0deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg));

                                        }
                                        > .loader-left {
                                            .transform(perspective(1700px) rotateX(90deg) rotateY(-90deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg));

                                        }
                                        > .loader-right {
                                            .transform(perspective(1700px) rotateX(90deg) rotateY(90deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg));

                                        }
                                        > .loader-back {
                                            .transform(perspective(1700px) rotateX(90deg) rotateY(180deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg));

                                        }
                                        > .loader-bottom {
                                            .transform(perspective(1700px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg));

                                        }
                                        > .loader-top {
                                            .transform(perspective(1700px) rotateX(180deg) rotateY(0deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg));
                                        }
                                    }
                                    &.show-top {
                                        > .loader-front {
                                            .transform(perspective(1700px) rotateX(-90deg) rotateY(0deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg));

                                        }
                                        > .loader-left {
                                            .transform(perspective(1700px) rotateX(-90deg) rotateY(-90deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg));

                                        }
                                        > .loader-right {
                                            .transform(perspective(1700px) rotateX(-90deg) rotateY(90deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg));

                                        }
                                        > .loader-back {
                                            .transform(perspective(1700px) rotateX(-90deg) rotateY(180deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg));

                                        }
                                        > .loader-bottom {
                                            .transform(perspective(1700px) rotateX(-180deg) rotateY(0deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg));

                                        }
                                        > .loader-top {
                                            .transform(perspective(1700px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg));
                                        }
                                    }
                                    &.show-begin-loader {
                                        > .loader-front {
                                            .transform(perspective(1700px) rotateX(-20deg) rotateY(45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg));

                                        }
                                        > .loader-left {
                                            .transform(perspective(1700px) rotateX(-20deg) rotateY(-45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg));

                                        }
                                        > .loader-right {
                                            .transform(perspective(1700px) rotateX(-20deg) rotateY(135deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg));

                                        }
                                        > .loader-back {
                                            .transform(perspective(1700px) rotateX(-20deg) rotateY(225deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg));

                                        }
                                        > .loader-bottom {
                                            .transform(perspective(1700px) rotateX(-110deg) rotateY(0deg) rotateZ(45deg) rotateY(-90deg) translateX(50%) rotateY(90deg));

                                        }
                                        > .loader-top {
                                            .transform(perspective(1700px) rotateX(70deg) rotateY(0deg) rotateZ(-45deg) rotateY(-90deg) translateX(50%) rotateY(90deg));
                                        }
                                    }
                                    &.show-end-loader {
                                        > .loader-front {
                                            .transform(perspective(1700px) rotateX(-20+360deg) rotateY(45+360deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg));

                                        }
                                        > .loader-left {
                                            .transform(perspective(1700px) rotateX(-20+360deg) rotateY(-45+360deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg));

                                        }
                                        > .loader-right {
                                            .transform(perspective(1700px) rotateX(-20+360deg) rotateY(135+360deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg));

                                        }
                                        > .loader-back {
                                            .transform(perspective(1700px) rotateX(-20+360deg) rotateY(225+360deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg));

                                        }
                                        > .loader-bottom {
                                            .transform(perspective(1700px) rotateX(-110+360deg) rotateY(0deg) rotateZ(45+360deg) rotateY(-90deg) translateX(50%) rotateY(90deg));

                                        }
                                        > .loader-top {
                                            .transform(perspective(1700px) rotateX(70+360deg) rotateY(0deg) rotateZ(-45-360deg) rotateY(-90deg) translateX(50%) rotateY(90deg));
                                        }
                                    }

                                    > .purple {
                                        background: rgb(63, 55, 107); /* Old browsers */
                                        background: -moz-linear-gradient(45deg, rgba(63, 55, 107, 1) 0%, rgba(100, 70, 197, 1) 50%, rgba(117, 76, 237, 1) 100%); /* FF3.6+ */
                                        background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(63, 55, 107, 1)), color-stop(50%, rgba(100, 70, 197, 1)), color-stop(100%, rgba(117, 76, 237, 1))); /* Chrome,Safari4+ */
                                        background: -webkit-linear-gradient(45deg, rgba(63, 55, 107, 1) 0%, rgba(100, 70, 197, 1) 50%, rgba(117, 76, 237, 1) 100%); /* Chrome10+,Safari5.1+ */
                                        background: -o-linear-gradient(45deg, rgba(63, 55, 107, 1) 0%, rgba(100, 70, 197, 1) 50%, rgba(117, 76, 237, 1) 100%); /* Opera 11.10+ */
                                        background: -ms-linear-gradient(45deg, rgba(63, 55, 107, 1) 0%, rgba(100, 70, 197, 1) 50%, rgba(117, 76, 237, 1) 100%); /* IE10+ */
                                        background: linear-gradient(45deg, rgba(63, 55, 107, 1) 0%, rgba(100, 70, 197, 1) 50%, rgba(117, 76, 237, 1) 100%); /* W3C */
                                        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3f376b', endColorstr='#754ced', GradientType=1); /* IE6-9 fallback on horizontal gradient */
                                    }

                                    > .blue {
                                        background: rgb(28, 148, 161); /* Old browsers */
                                        background: -moz-linear-gradient(45deg, rgba(28, 148, 161, 1) 0%, rgba(27, 178, 180, 1) 50%, rgba(30, 202, 190, 1) 100%); /* FF3.6+ */
                                        background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(28, 148, 161, 1)), color-stop(50%, rgba(27, 178, 180, 1)), color-stop(100%, rgba(30, 202, 190, 1))); /* Chrome,Safari4+ */
                                        background: -webkit-linear-gradient(45deg, rgba(28, 148, 161, 1) 0%, rgba(27, 178, 180, 1) 50%, rgba(30, 202, 190, 1) 100%); /* Chrome10+,Safari5.1+ */
                                        background: -o-linear-gradient(45deg, rgba(28, 148, 161, 1) 0%, rgba(27, 178, 180, 1) 50%, rgba(30, 202, 190, 1) 100%); /* Opera 11.10+ */
                                        background: -ms-linear-gradient(45deg, rgba(28, 148, 161, 1) 0%, rgba(27, 178, 180, 1) 50%, rgba(30, 202, 190, 1) 100%); /* IE10+ */
                                        background: linear-gradient(45deg, rgba(28, 148, 161, 1) 0%, rgba(27, 178, 180, 1) 50%, rgba(30, 202, 190, 1) 100%); /* W3C */
                                        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1c94a1', endColorstr='#1ecabe', GradientType=1); /* IE6-9 fallback on horizontal gradient */

                                    }
                                    > .green {
                                        background: rgb(85, 211, 136); /* Old browsers */
                                        background: -moz-linear-gradient(-45deg, rgba(85, 211, 136, 1) 0%, rgba(98, 245, 157, 1) 50%, rgba(102, 255, 164, 1) 100%); /* FF3.6+ */
                                        background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(85, 211, 136, 1)), color-stop(50%, rgba(98, 245, 157, 1)), color-stop(100%, rgba(102, 255, 164, 1))); /* Chrome,Safari4+ */
                                        background: -webkit-linear-gradient(-45deg, rgba(85, 211, 136, 1) 0%, rgba(98, 245, 157, 1) 50%, rgba(102, 255, 164, 1) 100%); /* Chrome10+,Safari5.1+ */
                                        background: -o-linear-gradient(-45deg, rgba(85, 211, 136, 1) 0%, rgba(98, 245, 157, 1) 50%, rgba(102, 255, 164, 1) 100%); /* Opera 11.10+ */
                                        background: -ms-linear-gradient(-45deg, rgba(85, 211, 136, 1) 0%, rgba(98, 245, 157, 1) 50%, rgba(102, 255, 164, 1) 100%); /* IE10+ */
                                        background: linear-gradient(135deg, rgba(85, 211, 136, 1) 0%, rgba(98, 245, 157, 1) 50%, rgba(102, 255, 164, 1) 100%); /* W3C */
                                        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#55d388', endColorstr='#66ffa4', GradientType=1); /* IE6-9 fallback on horizontal gradient */
                                    }
                                }
                            }
                        }
                    }
                }
            }

            //> .false-background {
            //    position: absolute;
            //    top: 0;
            //    left: 0;
            //    right: 0;
            //    bottom: 0;
            //    @media screen and (orientation: landscape) {
            //        background: url('http://127.0.0.1:8000/media/landscape_loading_background.png') no-repeat center center;
            //        background-size: cover;
            //    }
            //    @media screen and (orientation: portrait) {
            //        background: url('http://127.0.0.1:8000/media/portrait_loading_background.png') no-repeat center center;
            //        background-size: cover;
            //    }
            //}
        }
    }
}
