@import "../prefixes";
@import "../variables";

html {
  > body {
    > .leaderboard-overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding-bottom: 19%;
      @media screen and (orientation: landscape) {
        padding-bottom: 8%;
        .translate(-95.8%, 0);
      }
      background: rgba(255, 255, 255, 0.1);
      z-index: 5010;
      .translate(-90%, 0);
      //.transition(opacity 0.3s, transform 400ms);
      -webkit-transition: opacity 0.3s, transform 400ms;
      -moz-transition: opacity 0.3s, transform 400ms;
      -ms-transition: opacity 0.3s, transform 400ms;
      -o-transition: opacity 0.3s, transform 400ms;
      transition: opacity 0.3s, transform 400ms;
      > img.leaderboard-overlay-cup {
        height: 100%;
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        .translate(50%, -50%);
      }
    }
  }
}