@import "variables";
@import "prefixes";

html {
  body {
    > .color-game {
      > .chooseMode {
        position: absolute;
        background: @logo-background;
        width: 100%;
        height: 100%;
        top: 0;
        z-index: 5000;
        display: block;
        overflow: hidden;
        //left: 100%;
        .translate(100%, 0);
        -webkit-transition: transform 1000ms;
        -moz-transition: transform 1000ms;
        -o-transition: transform 1000ms;
        transition: transform 1000ms;

        &.slideToLeft {
          //left: 0;
          .translate(0, 0);
          -webkit-transition: transform 1000ms;
          -moz-transition: transform 1000ms;
          -o-transition: transform 1000ms;
          transition: transform 1000ms;
        }

        &.slideAway {
          //left: -100%;
          .translate(-100%, 0);
          -webkit-transition: transform 1000ms;
          -moz-transition: transform 1000ms;
          -o-transition: transform 1000ms;
          transition: transform 1000ms;
        }
        > .shadowMode {
          position: absolute;
          width: 100%;
          height: 10%;
          box-shadow: 0px 32px 50px -26px #000;
          background: @logo-background;
          z-index: 5000;
          display: block;
          @media screen and (orientation: landscape) {
            height: 20%;
          }
          > .backMenuButton {
            position: absolute;
            top: 50%;
            .translate(0, -38%);
            left: 1%;
            z-index: 7000;
            width: 10%;
            padding-bottom: 14%;
            background: url("../Assets/GameOver/Back.png") center center no-repeat;
            background-size: cover;
            @media screen and (orientation: landscape) {
              width: 9%;
              padding-bottom: 13%;
              //top: 1%;
            }
          }
          > .text {
            position: absolute;
            white-space: nowrap;
            font-size: 5em;
            color: #fff;
            text-align: center;
            left: 50%;
            .translate(-50%, -50%);
            top: 50%;
            font-family: "Oswald-Light", sans-serif;
            font-weight: bolder;
            z-index: 5200;

          }
        }

        > .modeButtons {
          position: absolute;
          width: 60%;
          padding-bottom: 100%;
          left: 50%;
          top: 55%;
          .translate(-50%, -50%);
          //overflow: hidden;
          > .countdown, .survival, .shootdown, .target {
            > .button-cup {
              position: absolute;
              top: 50%;
              left: 50%;
              width: 20%;
              padding-bottom: 20%;
              background: url("../Assets/GameOver/HighScoreIcon.png") center center no-repeat;
              background-size: 70%;
              .translate(50%, -50%);
              @media screen and (orientation: landscape) {
                .translate(33%, -50%);
              }
            }
            > .button-highscore {
              position: absolute;
              top: 50%;
              left: 81%;
              background-size: 70%;
              .translate(0%, -50%);
              font-size: 4em;
              color: #fff;
              min-width: 15%;
              text-align: center;
              @media screen and (orientation: landscape) {
                font-size: 3em;
              }
            }
          }
          @media screen and (orientation: landscape) {
            width: 80%;
            padding-bottom: 33%;
            top: 65%;
          }
          .mode-play {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
          }
          //background: #fff;
          > .survival {
            position: absolute;
            .translate(-134%, 0);
            top: 25%;
            margin-bottom: 5%;
            width: 100%;
            z-index: 2000;
            padding-bottom: 25%;
            background: url("../Assets/Graphics/OrangeButton.png") center center no-repeat;
            background-size: 100%;
            @media screen and (orientation: landscape) {
              top: 0;
              left: 50%;
              .translate(300%, 0);
              //margin-bottom: 5%;
              width: 43%;
              z-index: 2000;
              padding-bottom: 15%;
            }
            > .textModeOne {
              position: absolute;
              color: #fff;
              font-size: 4em;
              left: 5%;
              top: 50%;
              .translate(0%, -50%);
              //font-weight:bolder;
              font-family: "Oswald-Light", sans-serif;
              @media screen and (orientation: landscape) {
                font-size: 3em;
              }
            }
            > .shadowButtonOne {
              position: absolute;
              width: 100%;
              height: 100%;
              box-shadow: 0px 16px 5px #4E3B3B;
              &.unlocked {
                > .mode-locked {
                  display: none;
                }
              }
              > .mode-locked {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 100;
                background: rgba(0, 0, 0, 0.6) url('../Assets/locker.png') center center no-repeat;
                background-size: auto 100%;
              }
            }
            &.slideDown {
              .translate(0, 0);
              -webkit-transition: transform 800ms;
              -moz-transition: transform 800ms;
              -o-transition: transform 800ms;
              transition: transform 800ms;
              @media screen and (orientation: landscape) {

              }
            }
          }
          > .countdown {
            position: absolute;
            top: 0;
            .translate(134%, 0);
            margin-bottom: 5%;
            width: 100%;
            padding-bottom: 25%;
            background: url("../Assets/Graphics/RedButton.png") center center no-repeat;
            background-size: 100%;
            @media screen and (orientation: landscape) {
              left: 0%;
              top: 0%;
              .translate(300%, 0);
              margin-bottom: 5%;
              width: 43%;
              padding-bottom: 15%;
            }
            > .textModeTwo {
              position: absolute;
              color: #fff;
              font-size: 4em;
              left: 5%;
              top: 50%;
              .translate(0%, -50%);
              //font-weight:bolder;
              font-family: "Oswald-Light", sans-serif;
              @media screen and (orientation: landscape) {
                font-size: 3em;
              }

            }
            > .shadowButtonTwo {
              position: absolute;
              width: 100%;
              height: 100%;
              box-shadow: 0px 16px 5px #4E3B3B;
              &.unlocked {
                > .mode-locked {
                  display: none;
                }
              }
              > .mode-locked {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 100;
                background: rgba(0, 0, 0, 0.6) url('../Assets/locker.png') center center no-repeat;
                background-size: auto 100%;
              }
            }
            &.slideDown {
              .translate(0, 0);
              -webkit-transition: transform 800ms;
              -moz-transition: transform 800ms;
              -o-transition: transform 800ms;
              transition: transform 800ms;
              @media screen and (orientation: landscape) {

              }
            }
          }
          > .shootdown {
            position: absolute;
            .translate(-134%, 0);
            margin-bottom: 5%;
            top: 50%;
            width: 100%;
            padding-bottom: 25%;
            background: url("../Assets/Graphics/YellowButton.png") center center no-repeat;
            background-size: 100%;
            @media screen and (orientation: landscape) {
              left: 0%;
              top: 50%;
              .translate(-300%, 0);
              width: 43%;
              padding-bottom: 15%;
              right: 0;
            }
            > .textModeThree {
              position: absolute;
              color: #fff;
              font-size: 4em;
              left: 5%;
              top: 50%;
              .translate(0%, -50%);
              //font-weight:bolder;
              font-family: "Oswald-Light", sans-serif;
              @media screen and (orientation: landscape) {
                font-size: 3em;
              }
            }
            > .shadowButtonThree {
              position: absolute;
              width: 100%;
              height: 100%;
              box-shadow: 0px 16px 5px #4E3B3B;
              &.unlocked {
                > .mode-locked {
                  display: none;
                }
              }
              > .mode-locked {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 100;
                background: rgba(0, 0, 0, 0.6) url('../Assets/locker.png') center center no-repeat;
                background-size: auto 100%;
              }
            }
            &.slideDown {
              .translate(0, 0);
              -webkit-transition: transform 800ms;
              -moz-transition: transform 800ms;
              -o-transition: transform 800ms;
              transition: transform 800ms;
              @media screen and (orientation: landscape) {

              }
            }
          }
          > .target {
            position: absolute;
            .translate(134%, 0);
            margin-bottom: 5%;
            top: 75%;
            width: 100%;
            padding-bottom: 25%;
            background: url("../Assets/Graphics/YellowerButton.png") center center no-repeat;
            background-size: 100%;
            @media screen and (orientation: landscape) {
              //margin-bottom: 5%;
              top: 50%;
              left: 50%;
              .translate(-300%, 0);
              width: 43%;
              right: 0;
              padding-bottom: 15%;

            }
            > .textModeFour {
              position: absolute;
              color: #fff;
              font-size: 4em;
              left: 5%;
              top: 50%;
              .translate(0%, -50%);
              //font-weight:bolder;
              font-family: "Oswald-Light", sans-serif;
              @media screen and (orientation: landscape) {
                font-size: 3em;
              }
            }
            > .shadowButtonFour {
              position: absolute;
              width: 100%;
              height: 100%;
              box-shadow: 0px 16px 5px #4E3B3B;
              &.unlocked {
                > .mode-locked {
                  display: none;
                }
              }
              > .mode-locked {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 100;
                background: rgba(0, 0, 0, 0.6) url('../Assets/locker.png') center center no-repeat;
                background-size: auto 100%;
              }
            }
            &.slideDown {
              .translate(0, 0);
              -webkit-transition: transform 800ms;
              -moz-transition: transform 800ms;
              -o-transition: transform 800ms;
              transition: transform 800ms;
              @media screen and (orientation: landscape) {

              }
            }
          }
        }
        > .buy-extra-mods-wrapper {
          width: 100%;
          height: 100%;
          //.transition(background-color 450ms linear);
          -webkit-transition: z-index 450ms step-end, background-color 450ms linear;
          -moz-transition: z-index 450ms step-end, background-color 450ms linear;
          -ms-transition: z-index 450ms step-end, background-color 450ms linear;
          -o-transition: z-index 450ms step-end, background-color 450ms linear;
          //transition: background-color 450ms linear;
          background-color: rgba(0, 0, 0, 0.0);
          //visibility: hidden;
          z-index: -1;
          position: absolute;
          top: 0;
          left: 0;
          &.show-buy {
            -webkit-transition: z-index 0ms step-end, background-color 450ms linear;
            -moz-transition: z-index 0ms step-end, background-color 450ms linear;
            -ms-transition: z-index 0ms step-end, background-color 450ms linear;
            -o-transition: z-index 0ms step-end, background-color 450ms linear;
            background-color: rgba(0, 0, 0, 0.4);
            z-index: 5001;
            > .buy-extra-mods {
              .translate(-50%, -50%);
            }
          }
          > .buy-extra-mods {
            //display: none;
            width: 90%;
            padding-bottom: 60%;
            background: #52365a;
            z-index: 9999;
            position: absolute;
            top: 50%;
            left: 50%;
            .translate(-50%, -250%);
            //.transition(transform 800ms cubic-bezier(0.250, 0.250, 0.750, 0.750));
            -webkit-transition: transform 450ms;
            -moz-transition: transform 450ms;
            -ms-transition: transform 450ms;
            -o-transition: transform 450ms;
            transition: transform 450ms;

            @media screen and (orientation: landscape) {
              width: 60%;
              padding-bottom: 30%;
            }
            > .buy-extra-mods-header {
              width: 100%;
              text-align: center;
              font-size: 4em;
              color: #fff;
              -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              box-sizing: border-box;
              padding: 10px;
              -webkit-box-shadow: 0px 13px 54px 0px rgba(0, 0, 0, 0.25);
              -moz-box-shadow: 0px 13px 54px 0px rgba(0, 0, 0, 0.25);
              box-shadow: 0px 13px 54px 0px rgba(0, 0, 0, 0.25);
              @media screen and (orientation: landscape) {
                font-size: 5em;
                @media (max-width: 1525px) {
                  font-size: 4em;
                }
                @media (max-width: 1125px) {
                  font-size: 3em;
                }
              }
            }
            > .buy-extra-mods-shopping-cart {
              width: 30%;
              padding-bottom: 30%;
              position: absolute;
              top: 50%;
              left: 50%;
              .translate(-50%, -55%);
              background: url('../Assets/shoppingCart.png') center center no-repeat;
              background-size: cover;
              -webkit-box-shadow: 0px 13px 54px 0px rgba(0, 0, 0, 0.25);
              -moz-box-shadow: 0px 13px 54px 0px rgba(0, 0, 0, 0.25);
              box-shadow: 0px 13px 54px 0px rgba(0, 0, 0, 0.25);
              @media screen and (orientation: landscape) {
                width: 18%;
                padding-bottom: 18%;
                .translate(-50%, -75%);
              }
            }
            > .buy-extra-mods-button-buy {
              width: 16%;
              padding-bottom: 22%;
              position: absolute;
              bottom: 0px;
              left: 50%;
              .translate(30%, 0%);
              background: url('../Assets/BUY.png') center center no-repeat;
              background-size: cover;
            }
            > .buy-extra-mods-button-close {
              width: 16%;
              padding-bottom: 22%;
              position: absolute;
              bottom: 0px;
              left: 50%;
              .translate(-130%, 0%);
              background: url('../Assets/GameOver/Back.png') center center no-repeat;
              background-size: cover;
            }
          }
        }
        > .clickPreventorModes {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          width: 100%;
          height: 100%;
          display: none;
          &.blocked {
            display: block;
          }
        }
      }
    }
  }
}