@import "variables";
@import "prefixes";

html {

  body {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
    //Temporary solution!!!
    canvas {
      margin: 0 !important;
      width: 100% !important;
      height: 100% !important;
    }
    .clickPreventor {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 0;
      &.preventOn {
        z-index: 9999;
      }
    }

    > #game {
      width: 100%;
      height: 100%;
      position: absolute;
      display: none;
      //left: 100%;
      top: 0;
      z-index: 4000;
      .translate(100%, 0);
      bottom: 0;
      -webkit-transition: transform 1000ms;
      -moz-transition: transform 1000ms;
      -o-transition: transform 1000ms;
      transition: transform 1000ms;
      > .close {
        position: absolute;
        right: 2%;
        top: 2%;
        width: 11%;
        padding-bottom: 11%;
        z-index: 4000;
      }
      &.blocked {
        display: block;
      }
      &.slideIn {
        //left: 0;
        .translate(0, 0);
        -webkit-transition: transform 1000ms;
        -moz-transition: transform 1000ms;
        -o-transition: transform 1000ms;
        transition: transform 1000ms;
      }
      > .gameOverLayout{
        width: 100%;
        height: 100%;
        z-index: 5000;
        position:absolute;
        display: none;
        background: #000;
        opacity: 0.5;
        &.blocked{
          display: block;
        }
      }
    }

    > .color-game {
      width: 100%;
      height: 100%;
      display: none;
      position: absolute;
      &.blocked {
        display: block;
      }
      > .logoScreen {
        background: #e6e6e6;
        width: 100%;
        height: 100%;
        position: absolute;
        display: none;
        &.blocked {
          display: block;
        }
        //background: #000000;
        > .logo {
          position: absolute;
          left: 50%;
          top: 50%;
          .translate(-50%, -50%);
          background: url("../Assets/Graphics/Common/GameLogo.png") center center no-repeat;
          background-size: 100%;
          width: 70%;
          padding-bottom: 70%;
        }
      }

      > .mainMenu {
        width: 100%;
        background: @logo-background;
        height: 100%;
        position: absolute;
        visibility: hidden;
        //left: 0;
        .translate(0, 0);
        z-index: 5000;
        -webkit-transition: transform 1000ms;
        -moz-transition: transform 1000ms;
        -o-transition: transform 1000ms;
        transition: transform 1000ms;
        &.blocked {
          visibility: visible;
        }
        &.moveToLeft {
          .translate(-100%, 0);
          -webkit-transition: transform 1000ms;
          -moz-transition: transform 1000ms;
          -o-transition: transform 1000ms;
          transition: transform 1000ms;
        }
        &.moveToRight {
          .translate(100%, 0);
          -webkit-transition: transform 1000ms;
          -moz-transition: transform 1000ms;
          -o-transition: transform 1000ms;
          transition: transform 1000ms;
        }
        > .shadow {
          position: absolute;
          width: 100%;
          height: 20%;
          top: 0;
          box-shadow: 0px 32px 50px -26px #000;
          @media screen and (orientation: landscape) {
            height: 25%;
          }
          > .menuLogo {
            background: url("../Assets/Graphics/Common/LogoMainMenu.png") center center no-repeat;
            background-size: 100%;
            width: 50%;
            padding-bottom: 25%;
            left: 50%;
            top: 50%;
            .translate(-50%, -50%);
            position: absolute;
            @media screen and (orientation: landscape) {
              width: 25%;
              padding-bottom: 15%;
              //top: 0;
            }
          }
        }
        //display: none;

        > .buttonsMenu {
          position: absolute;
          width: 30%;
          top: 37%;
          left: 50%;
          padding-bottom: 90%;
          .translate(-50%, 0);
          @media screen and (orientation: landscape) {
            width: 100%;
            left: 50%;
            padding-bottom: 20%;
          }
          > .menuPlayButton {
            background: url("../Assets/MainMenu/PlayButton.png") center center no-repeat;
            background-size: 100%;
            width: 90%;
            padding-bottom: 100%;
            position: absolute;
            left: 50%;
            top: 0;
            .translate(-50%, 0);
            @media screen and (orientation: landscape) {
              width: 15%;
              padding-bottom: 25%;
              left: 20%;
              .translate(0, 0);
            }
            > .textPlay {
              color: #fff;
              font-size: 4em;
              //font-weight: 300;
              font-family: "Oswald-Light", sans-serif;
              position: absolute;
              bottom: -20%;
              left: 50%;
              .translate(-50%, 0);
              @media screen and (orientation: landscape) {
                font-size: 3em;
                bottom: -5%;
              }
            }
          }
          > .menuMoreInfoButton {
            background: url("../Assets/MainMenu/MoreInfoButton.png") center center no-repeat;
            background-size: 100%;
            width: 90%;
            padding-bottom: 100%;
            position: absolute;
            left: 50%;
            top: 50%;
            .translate(-50%, 0);
            @media screen and (orientation: landscape) {
              width: 15%;
              padding-bottom: 25%;
              position: absolute;
              left: 65%;
              .translate(0, 0);
              top: 0;
            }
            > .textMoreInfo {
              color: #fff;
              font-size: 4em;
              //font-weight: 300;
              font-family: "Oswald-Light", sans-serif;
              position: absolute;
              bottom: -20%;
              left: 50%;
              .translate(-50%, 0);
              white-space: nowrap;
              @media screen and (orientation: landscape) {
                font-size: 3em;
                bottom: -5%;
              }
            }
          }
        }
      }
    }
  }
}