@import "variables";
@import "prefixes";

html {
  body {
    > .gameOver {
      position: absolute;
      width: 100%;
      height: 100%;
      display: none;
      z-index: 6000;
      &.blocked {
        display: block;
      }

      > .gameOverBox {
        position: absolute;
        width: 90%;
        height: 90%;
        background: #52365a;
        top: 50%;
        left: 50%;
        .translate(-50%, -50%);
        display: block;
        @media screen and (orientation: landscape) {
          width: 90%;
        }

        > .back {
          background: url("../Assets/GameOver/Back.png") center center no-repeat;
          background-size: cover;
          position: absolute;
          right: 5%;
          width: 11%;
          padding-bottom: 16%;
          top: 2%;
          @media screen and (orientation: landscape) {
            right: 2%;
            width: 7%;
            padding-bottom: 10%;
          }
        }
        > .iqContainer {
          position: absolute;
          left: 50%;
          top: 60%;
          width: 90%;
          height: 25%;
          .translate(-50%, -50%);
          //@media screen and (orientation: landscape){
          //  top: 57%;
          //  width: 60%;
          //  padding-bottom: 21%;
          //}

          > .iqPoints {
            position: absolute;
            font-size: 10em;
            top: 50%;
            left: 50%;
            color: #fff;
            text-align: center;
            .translate(-50%, -80%);
            font-family: "Oswald-Regular", sans-serif;
            font-weight: bolder;
            @media screen and (orientation: landscape) {
              font-size: 5em;
            }

          }
          > .iqText {
            position: absolute;
            font-size: 5em;
            top: 50%;
            text-align: center;
            color: #fff;
            left: 50%;
            .translate(-50%, 20%);
            font-family: "Oswald-Light", sans-serif;
            white-space: nowrap;
            @media screen and (orientation: landscape) {
              font-size: 3em;
              //bottom: 0;
            }

          }
        }
        > .gameOverButtons {
          bottom: 5%;
          position: absolute;
          width: 100%;
          height: 10%;
          @media screen and (orientation: landscape) {
            bottom: 0;
          }
          > .share {
            background: url("../Assets/GameOver/Share.png") center center no-repeat;
            background-size: cover;
            position: absolute;
            left: 10%;
            width: 20%;
            padding-bottom: 25%;
            bottom: 0;
            @media screen and (orientation: landscape) {
              left: 15%;
              width: 8%;
              padding-bottom: 13%;
            }

            > .shareText {
              position: absolute;
              bottom: 0;
              font-size: 2.5em;
              font-family: "Oswald-Light", sans-serif;
              white-space: nowrap;
              color: #fff;
              text-align: center;
              left: 50%;
              .translate(-50%, 0);
              @media screen and (orientation: landscape) {
                font-size: 2em;
                //left: -70%;
              }

            }
          }
          > .again {
            background: url("../Assets/GameOver/PlayAgain.png") center center no-repeat;
            background-size: cover;
            position: absolute;
            left: 40%;
            width: 20%;
            padding-bottom: 25%;
            bottom: 0;
            @media screen and (orientation: landscape) {
              left: 45%;
              width: 8%;
              padding-bottom: 13%;
            }

            > .againText {
              position: absolute;
              bottom: 0;
              font-size: 2.5em;
              font-family: "Oswald-Light", sans-serif;
              white-space: nowrap;
              color: #fff;
              text-align: center;
              left: 50%;
              .translate(-50%, 0);
              @media screen and (orientation: landscape) {
                font-size: 2em;
              }

            }
          }
          > .leaderboard {
            background: url("../Assets/GameOver/gameOverL.png") center center no-repeat;
            background-size: cover;
            position: absolute;
            left: 70%;
            width: 20%;
            padding-bottom: 25%;
            bottom: 0;
            @media screen and (orientation: landscape) {
              left: 75%;
              width: 8%;
              padding-bottom: 13%;
            }

            > .leaderboardText {
              position: absolute;
              bottom: 0;
              font-size: 2.5em;
              font-family: "Oswald-Light", sans-serif;
              white-space: nowrap;
              color: #fff;
              text-align: center;
              left: 50%;
              .translate(-50%, 0);
              @media screen and (orientation: landscape) {
                font-size: 2em;
              }

            }
          }
        }

        > .gameOverText {
          position: absolute;
          left: 50%;
          top: 5%;
          .translate(-50%, 0);
          white-space: nowrap;
          font-size: 5em;
          font-family: "Oswald-Light", sans-serif;
          font-weight: bolder;
          color: #fff;
          @media screen and (orientation: landscape) {
            font-size: 4em;
            top: 0;
          }

        }
        > .pointsIcon {
          left: 4%;
          width: 30%;
          padding-bottom: 30%;
          background: url("../Assets/ingameSprites/tickSprite.png") center center no-repeat;
          background-size: 50%;
          position: absolute;
          top: 15%;
          @media screen and (orientation: landscape) {
            width: 15%;
            padding-bottom: 15%;
            top: 10%;
            left: 10%;
          }

          > .pointsNumber {
            position: absolute;
            font-size: 5em;
            text-align: center;
            left: 50%;
            bottom: -35%;
            .translate(-50%, 0);
            color: #fff;
            font-weight: bolder;
            font-family: "Oswald-Light", sans-serif;
            @media screen and (orientation: landscape) {
              font-size: 3em;
            }

          }
        }
        > .timerIcon {
          left: 35%;
          width: 30%;
          padding-bottom: 30%;
          background: url("../Assets/ingameSprites/timeSprite.png") center center no-repeat;
          background-size: 50%;
          position: absolute;
          top: 15%;
          @media screen and (orientation: landscape) {
            width: 15%;
            padding-bottom: 15%;
            top: 10%;
            left: 41%;
          }

          > .timerNumber {
            position: absolute;
            font-size: 5em;
            text-align: center;
            left: 50%;
            bottom: -35%;
            .translate(-50%, 0);
            color: #fff;
            font-weight: bolder;
            font-family: "Oswald-Light", sans-serif;
            @media screen and (orientation: landscape) {
              font-size: 3em;
            }

          }
        }
        > .wrongIcon {
          left: 66%;
          width: 30%;
          padding-bottom: 30%;
          background: url("../Assets/GameState/xSprite.png") center center no-repeat;
          background-size: 50%;
          position: absolute;
          top: 15%;
          @media screen and (orientation: landscape) {
            width: 15%;
            padding-bottom: 15%;
            top: 10%;
            left: 72%;
          }

          > .wrongNumber {
            position: absolute;
            font-size: 5em;
            text-align: center;
            left: 50%;
            bottom: -35%;
            .translate(-50%, 0);
            color: #fff;
            font-weight: bolder;
            font-family: "Oswald-Light", sans-serif;
            @media screen and (orientation: landscape) {
              font-size: 3em;
            }

          }
        }
      }
    }

  }
}