@import "variables";
@import "prefixes";

html {
  body {
    > .color-game {
      > .moreInfo {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        display: none;
        z-index: 5000;
        //left: 0;
        background: @logo-background;
        .translate(-100%, 0);
        -webkit-transition: transform 1000ms;
        -moz-transition: transform 1000ms;
        -o-transition: transform 1000ms;
        transition: transform 1000ms;
        &.slideToRight {
          .translate(0, 0);
          -webkit-transition: transform 1000ms;
          -moz-transition: transform 1000ms;
          -o-transition: transform 1000ms;
          transition: transform 1000ms;
        }
        &.blocked {
          display: block;
        }

        > .infoShadow {
          position: absolute;
          width: 100%;
          height: 20%;
          top: 0;
          box-shadow: 0px 32px 50px -26px #000;
          @media screen and (orientation: landscape) {
            height: 25%;
          }
          > .information {
            position: absolute;
            width: 100%;
            bottom: -50%;
            font-size: 4em;
            font-weight: bolder;
            white-space: nowrap;
            text-align: center;
            font-family: "Oswald-Light", sans-serif;
            color: #fff;
            @media (max-width: 4000px){
              bottom: -20%;
            }
            @media (max-width: 800px){
              bottom: -50%;
            }
          }
          > .infoLogo {
            background: url("../Assets/Graphics/Common/LogoMainMenu.png") center center no-repeat;
            background-size: 100%;
            width: 50%;
            padding-bottom: 25%;
            left: 50%;
            top: 50%;
            .translate(-50%, -50%);
            position: absolute;
            @media screen and (orientation: landscape) {
              width: 25%;
              padding-bottom: 15%;
              //top: 0;
            }

          }
          > .backInfoButton {
            position: absolute;
            top: 50%;
            .translate(0, -50%);
            right: 1%;
            z-index: 7000;
            width: 14%;
            padding-bottom: 20%;
            background: url("../Assets/GameOver/BackFlipped.png") center center no-repeat;
            background-size: cover;
            @media screen and (orientation: landscape) {
              width: 9%;
              padding-bottom: 13%;
              //top: 1%;
            }
          }
        }
        //display: none;


        > .highScores {
          position: absolute;
          width: 100%;
          //padding-bottom: 107%;
          //background: #000000;
          top: 31%;
          @media(max-width:700px){
            top:40%;
          }
          //@media(max-width)
          @media only screen and (orientation: landscape) {
            padding-bottom: 23%;
            top: 45%;
          }

          > .survivalHigh {
            position: relative;
            width: 100%;
            padding-bottom: 20%;
            margin-bottom: 3%;
            //background: #000000;
            top: 0;
            @media screen and (orientation: landscape) {
              padding-bottom: 5%;
              top: 12%;
            }
            > .survivalHighScore {
              position: absolute;
              left: 80%;
              width: 20%;
              top: 20%;
              font-size: 6em;
              color: #fff;
              white-space: nowrap;
              font-weight: bolder;
              font-family: "Oswald-Light", sans-serif;

              @media screen and (orientation: landscape) {
                top: -25%;
                font-size: 3em;
              }
            }
            > .iconCup {
              position: absolute;
              left: 50%;
              width: 20%;
              padding-bottom: 20%;
              background: url("../Assets/GameOver/HighScoreIcon.png") center center no-repeat;
              background-size: 70%;
              @media screen and (orientation: landscape) {
                left: 60%;
                width: 7%;
                top: 0;
                padding-bottom: 5%;
              }
            }
            > .iconSurvival {
              position: absolute;
              left: 5%;
              width: 40%;
              height: 100%;
              background: url("../Assets/Graphics/OrangeButton.png") center center no-repeat;
              background-size: 100%;
              > .survivalTitle {
                position: absolute;
                font-size: 4em;
                white-space: nowrap;
                //font-weight: bolder;
                font-family: "Oswald-Light", sans-serif;
                color: #fff;
                top: 50%;
                left: 50%;
                .translate(-50%, -50%);
                @media screen and (orientation: landscape) {
                  font-size: 3.5em;
                }
              }
            }
          }
          > .countdownHigh {
            position: relative;
            width: 100%;
            padding-bottom: 20%;
            margin-bottom: 3%;
            //background: #000000;
            //top: 25%;
            @media screen and (orientation: landscape) {
              padding-bottom: 5%;
              top: 42%;
            }
            > .countdownHighScore {
              position: absolute;
              left: 80%;
              width: 20%;
              top: 20%;
              font-size: 6em;
              color: #fff;
              white-space: nowrap;
              font-weight: bolder;
              font-family: "Oswald-Light", sans-serif;
              @media screen and (orientation: landscape) {
                top: -8%;
                font-size: 3em;
              }
            }
            > .iconCup {
              position: absolute;
              left: 50%;
              width: 20%;
              padding-bottom: 20%;
              background: url("../Assets/GameOver/HighScoreIcon.png") center center no-repeat;
              background-size: 70%;
              @media screen and (orientation: landscape) {
                left: 60%;
                top: -7px;
                width: 7%;
                padding-bottom: 7%;
              }
            }
            > .iconCountdown {
              position: absolute;
              left: 5%;
              width: 40%;
              height: 100%;
              background: url("../Assets/Graphics/RedButton.png") center center no-repeat;
              background-size: 100%;
              > .countdownTitle {
                position: absolute;
                font-size: 4em;
                white-space: nowrap;
                //font-weight: bolder;
                font-family: "Oswald-Light", sans-serif;
                color: #fff;
                top: 50%;
                left: 50%;
                .translate(-50%, -50%);
                @media screen and (orientation: landscape) {
                  font-size: 3.5em;
                }
              }
            }
          }
          > .shootdownHigh {
            position: relative;
            width: 100%;
            padding-bottom: 20%;
            margin-bottom: 3%;
            //background: #000000;

            @media screen and (orientation: landscape) {
              padding-bottom: 5%;
              top: 72%;
            }
            > .shootdownHighScore {
              position: absolute;
              left: 80%;
              width: 20%;
              top: 20%;
              font-size: 6em;
              color: #fff;
              white-space: nowrap;
              font-weight: bolder;
              font-family: "Oswald-Light", sans-serif;
              @media screen and (orientation: landscape) {
                top: 0;
                font-size: 3em;
              }

            }
            > .iconCup {
              position: absolute;
              left: 50%;
              width: 20%;
              padding-bottom: 20%;
              background: url("../Assets/GameOver/HighScoreIcon.png") center center no-repeat;
              background-size: 70%;
              @media screen and (orientation: landscape) {
                left: 60%;
                width: 7%;
                top: -2px;
                padding-bottom: 7%;
              }
            }
            > .iconShootdown {
              position: absolute;
              left: 5%;
              width: 40%;
              height: 100%;
              background: url("../Assets/Graphics/YellowButton.png") center center no-repeat;
              background-size: 100%;
              > .shootdownTitle {
                position: absolute;
                font-size: 4em;
                white-space: nowrap;
                //font-weight: bolder;
                font-family: "Oswald-Light", sans-serif;
                color: #fff;
                top: 50%;
                left: 50%;
                .translate(-50%, -50%);
                @media screen and (orientation: landscape) {
                  font-size: 3.5em;
                }
              }

            }
          }
          > .targetHigh {
            position: relative;
            width: 100%;
            padding-bottom: 20%;
            margin-bottom: 3%;
            //background: #000000;
            //top: 75%;
            @media screen and (orientation: landscape) {
              padding-bottom: 5%;
              top: 104%;
            }
            > .targetHighScore {
              position: absolute;
              left: 80%;
              width: 20%;
              top: 20%;
              font-size: 6em;
              color: #fff;
              white-space: nowrap;
              font-weight: bolder;
              font-family: "Oswald-Light", sans-serif;
              @media screen and (orientation: landscape) {
                top: 0;
                font-size: 3em;
              }

            }
            > .iconCup {
              position: absolute;
              left: 50%;
              width: 20%;
              padding-bottom: 20%;
              background: url("../Assets/GameOver/HighScoreIcon.png") center center no-repeat;
              background-size: 70%;
              @media screen and (orientation: landscape) {
                left: 60%;
                width: 7%;
                padding-bottom: 7%;
              }
            }
            > .iconTarget {
              position: absolute;
              left: 5%;
              width: 40%;
              height: 100%;
              background: url("../Assets/Graphics/YellowerButton.png") center center no-repeat;
              background-size: 100%;
              > .targetTitle {
                position: absolute;
                font-size: 4em;
                white-space: nowrap;
                //font-weight: bolder;
                font-family: "Oswald-Light", sans-serif;
                color: #fff;
                top: 50%;
                left: 50%;
                .translate(-50%, -50%);
                @media screen and (orientation: landscape) {
                  font-size: 3.5em;
                }
              }

            }
          }
        }
      }
    }
  }
}