@import "variables";
@import "prefixes";

html {
    > body {
        > .color-game{
            width: 100%;
            height: 100%;

            > .fractal-games-splashscreen {
                background-color: #e6e6e6;
                width: 100%;
                height: 100%;
                > .fractal-games-splashscreen-wrapper {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    > .fractal-games-splashscreen-text {
                        background: url("../Assets/Graphics/text.png") center center no-repeat;
                        background-size: auto 100%;
                        @media screen and (orientation: portrait) {
                            /* Portrait styles here */
                            width: 47%;
                            height: 8%;
                        }
                        /* Landscape */
                        @media screen and (orientation: landscape) {
                            /* Landscape styles here */
                            width: 36%;
                            height: 18%;
                        }

                        .transition(all @fractal-end-transition);
                        &.center-transform {
                            top: 48.5%;
                            left: 100%;
                            .transform(translate(0%, -50%));
                        }
                    }
                    > .fractal-games-splashscreen-logo {
                        background: url("../Assets/Graphics/logo.png") center center no-repeat;
                        background-size: auto 100%;
                        /* Portrait */
                        @media screen and (orientation: portrait) {
                            /* Portrait styles here */
                            width: 46%;
                            padding-bottom: 46%;

                        }
                        /* Landscape */
                        @media screen and (orientation: landscape) {
                            /* Landscape styles here */
                            width: 30%;
                            padding-bottom: 30%;
                        }

                        .transition(all @fractal-end-transition);


                    }
                }
                &.fractal-games-splashscreen-end {
                    > .fractal-games-splashscreen-wrapper {
                        > .fractal-games-splashscreen-text {
                            //Portrait
                            //TODO: double check
                            @media screen and (orientation: portrait) {
                                left: 70%;
                            }
                            @media screen and (orientation: landscape) {
                                left: 62%;
                            }
                            @media screen and (max-width: 1400px) and (orientation: landscape) {
                                left: 66%;
                            }
                            @media screen and (max-width: 1366px) and (orientation: landscape) {
                                left: 60%;
                            }
                            @media screen and (max-width: 1300px) and (orientation: landscape) {
                                left: 68%;
                            }
                            /* Landscape */
                            @media screen and (max-width: 1100px) and (orientation: landscape) {
                                left: 69%;
                            }
                            &.center-transform {
                                .transform(translate(-50%, -50%));
                            }
                        }
                        > .fractal-games-splashscreen-logo {
                            @media screen and (orientation: portrait) {
                                left: 26%;

                            }
                            /* Landscape */
                            @media screen and (orientation: landscape) {
                                left: 32%;
                            }
                        }
                    }
                }
            }
        }
    }
}


