@logo-background: #4c365a;
//@line: #220519;
//@icon-border: #230519;
//@icon-frame: #1bf0f4;


@text-colour: #e7e7e7;
@green: rgb(141, 227, 18);
@dark-green: rgb(43, 188, 159);
@darkest-green: rgb(36, 163, 138);

@light-gray: rgb(232, 232, 232);
@gray: rgb(206, 206, 206);
@dark-gray: rgb(191, 191, 191);

@yellow: rgb(255, 211, 61);
@red: rgb(252, 77, 94);
@purple: rgb(142, 174, 255);

@logo-blue: rgb(31,209,193);
@logo-green: rgb(102,255,164);

@white: rgb(255,255,255);
@title-gray : rgb(191,191,191);

@softer-green: rgb(169,254,49);

@width-transition : 1s;

@splash-screen-cube-transition: 1.5s cubic-bezier(.16,.42,.25,1.42);
@fractal-end-transition: 0.5s cubic-bezier(.16,.42,.25,1.42);

@startscreen-effect-transition: 1.5s;
@startscreen-effect-transition-end: 1.5s cubic-bezier(.83,-0.43,.55,.63);

@menuscreen-effect-transition: 1s;


// From web-site

@gap: 0.5rem;
@half-gap: @gap/2;
@double-gap: @gap*2;
@font-family: Montserrat, Verdana, Arial;


@z-index-content: 1;
@z-index-content-overlay: 2;
@z-index-header: 100;
@z-index-modal: 200;
@z-index-high: 9999;

// Colors
@bg-color: #e6e6e6;
@rank-bg-color: #e6e6e6;
@text-light-color: #cccccc;

@color-green: rgb(102, 255, 164);
@color-light-green: rgb(153, 255, 204);
@color-dark-green: rgb(61, 153, 98);
@color-hover-green-white-text: rgb(82, 204, 131);
@color-hover-green: rgb(96, 240, 153);

@color-blue: rgb(31, 209, 193);
@color-light-blue: rgb(51, 255, 238);
@color-dark-blue: rgb(15, 102, 95);
@color-hover-blue: rgb(24, 158, 147);

@color-purple: rgb(124, 79, 255);
@color-light-purple: rgb(175, 140, 255);
@color-dark-purple: rgb(69, 45, 128);
@color-hover-purple: rgb(97,62,192);

@color-red: rgb(255, 60, 33);
@color-light-red: rgb(255, 149, 127);
@color-dark-red: rgb(153, 35, 20);
@color-hover-red: rgb(204, 47, 27);

// Typography
@base-font-size: 0.83em;
@h1-size: 3.00em;
@h2-size: 1.80em;
@h3-size: 1.50em;
@h4-size: 1.17em;
@h5-size: 1.00em;
@h6-size: 0.83em;

// Responsive
@screen-desktop: 800px;


// Header
@header-height: 65pt;
@header-logo-spacing: 10pt;
@header-bg-color: #f5f5f5;
@header-bg-stoke-color: #e9e9e9;
@header-bg-stroke-size: 22pt;
@header-icon-height: 20pt;
@header-icon-small-height: 20pt;
@header-gap: 20pt;
@header-lr-spacing: 15pt;
@header-shadow: 0pt 3pt 10pt rgba(0, 0, 0, 0.25);


// Modal
@modal-bg-color: #f5f5f5;
@modal-box-left-color: #cccccc;
@modal-box-top-color: #ffffff;

@modal-header-height: 2em;
@modal-header-color: #ffffff;
@modal-header-bg-color: @color-red;

@modal-tabs-font-size: 1.7em;
@modal-tabs-color: #ffffff;
@modal-tabs-bg-color: @color-purple;
@modal-tabs-bg-active-color: @color-dark-purple;
@modal-tabs-bg-hover-color: @color-hover-purple;
@modal-3d-box-width: 16px;
@modal-3d-box-top-color: #ffffff;
@modal-3d-box-left-color: #cccccc;

// Navigation
@navigation-bg-color: @color-red;
@navigation-min-width: 200pt;
@navigation-width-desktop: 20%;
@navigation-width-mobile: 50%;
@navigation-item-height: 50pt;
@navigation-item-color: #ffffff;
@navigation-item-font-size: 1.1em;
@navigation-item-icon-width: 20pt;

// Content
@content-max-width-desktop: 75%;
@content-max-width-mobile: 90%;

// Tiles
@tile-height: 200px;
@tile-3d-box-width: 16px;
@tile-3d-box-red-left-color: #992314;
@tile-3d-box-red-top-color: #FF957F;
@tile-3d-box-blue-left-color: #0F665F;
@tile-3d-box-blue-top-color: #33FFEE;
@tile-3d-box-green-left-color: #3D9962;
@tile-3d-box-green-top-color: #99FFCC;
@tile-3d-box-purple-left-color: #452D80;
@tile-3d-box-purple-top-color: #AF8CFF;
//@alternative-3d-box-purple-top-color: #FF43D4;
//@alternative-3d-box-purple-left-color: #85007C;

//Transitions
@transition-speed: 700ms;
@splash-screen-cube-transition: 1.5s cubic-bezier(.16,.42,.25,1.42);
@fractal-end-transition: 0.5s cubic-bezier(.16,.42,.25,1.42);

@logo-blue: rgb(31,209,193);
@logo-green: rgb(102,255,164);
