@import "../variables";
@import "../prefixes";

html > body > #main > #header-partial > header {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    width: 100%;
    height: @header-height;
    padding: 0 @header-lr-spacing;
    //background-color: @header-bg-color;
    background: #f5f5f5;
    box-shadow: @header-shadow;
    z-index: @z-index-header;

    > .icon.menu {
        button {
            display: inline-block;
            margin: 0 0;
            border: none;
            background: none;
            > .lines {
                display: inline-block;
                width: 2.7rem;
                height: 0.34143rem;
                background: @color-red;
                .transition(0.3s);
                position: relative;
                &:before, &:after {
                    color: @color-red;
                    display: inline-block;
                    width: 2.7rem;
                    height: 0.37143rem;
                    background: @color-red;
                    transition: 0.3s;
                    position: absolute;
                    left: 0;
                    content: '';
                    .transform-origin(0.17571rem center);
                }
                &:before {
                    top: 0.8rem;
                }
                &:after {
                    top: -0.8rem;
                }
            }
            &:focus {
                outline: 0;
            }
        }
        .lines-button {
            padding: 1.7rem 0;
            transition: .3s;
            cursor: pointer;
            user-select: none;
            border-radius: 0.574143rem;
            &.close {
                -webkit-transform: scale3d(0.8, 0.8, 0.8);
                transform: scale3d(0.8, 0.8, 0.8);
                > .lines:before, .lines:after {
                    left: -1px;
                    top: 0;
                    width: 1.82222rem;
                }
                > .lines:before {
                    .transform(rotate3d(0, 0, 1, 40deg));

                }
                > .lines:after {
                    .transform(rotate3d(0, 0, 1, -40deg));
                }
            }
        }
    }
    > .header-stroke {
        z-index: -1;
        background: url("../../../images/ui/header-stroke.png") no-repeat;
        background-size: 100% 100%;
        height: 27px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .icon {
        display: block;
        text-transform: uppercase;
        color: @color-red;

        img {
            margin-top: (@header-height - @header-icon-height) / 2;
            height: @header-icon-height;
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1);
            transform: scale(1);
            -webkit-transition: transform 0.2s;
            -moz-transition: transform 0.2s;
            -ms-transition: transform 0.2s;
            -o-transition: transform 0.2s;
            transition: transform 0.2s;
            &:hover{
                -webkit-transform: scale(1.2);
                -moz-transform: scale(1.2);
                -ms-transform: scale(1.2);
                -o-transform: scale(1.2);
                transform: scale(1.2);
            }
        }

        &.icon-small {
            img {
                margin-right: @header-icon-small-height/3;
                margin-top: (@header-height - @header-icon-small-height) / 2;
                height: @header-icon-small-height;
            }
        }
    }

    .menu {
        position: relative;
        z-index: @z-index-content;
    }

    .logo {
        position: relative;
        z-index: (@z-index-content); // Move below menu button
        display: block;

        img {
            margin-top: @header-logo-spacing;
            height: @header-height - @header-logo-spacing;
        }
    }

    .gap {
        margin-left: @header-gap;

        &.gap-right, &.pull-right {
            margin-left: 0;
            margin-right: @header-gap;
        }
    }

    .avatar {
        float: right;
        margin-right: @header-gap/2 + 25;
        margin-top: 5pt;
        @media (max-width: 800px) {
            margin-right: @header-gap/2
        }

        &.hidden-phone {
            width: 250pt;
        }

        object {
            height: @header-height - 10;
            @media (min-width: @screen-desktop) {
                height: @header-height - 6;
            }
        }
        @media (max-width: 320px) {
            margin-right: 0;
        }
    }

    .header-search {
        input {
            display: none;
        }

        &.opened input {
            position: relative;
            display: inline-block;
            top: -6pt;
            min-width: 120pt;
            height: @header-icon-height;
            border: none;
            margin-right: @header-gap/2;
            background-color: @color-red;
            padding-left: @header-gap/4;
            box-sizing: border-box;
            color: #ffffff;
            outline: none;
        }
    }
}
