@import "../variables";
@import "../prefixes";
@import "../vendor/utils";

html {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

body, div {
  -webkit-overflow-scrolling: touch;
}

*:not(input) {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /*You just need this if you are only concerned with android and not desktop browsers.*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  //font-size: 1.4em;
  //@media (max-width: 1825px) {
  //    font-size: 1.3em;
  //}
  //
  //@media (max-width: 1695px) {
  //    font-size: 1.2em;
  //}
  //
  //@media (max-width: 1595px) {
  //    font-size: 1.1em;
  //}
  //
  //@media (max-width: 1440px) {
  //    font-size: 1.1em;
  //}
  //@media (max-width: 1366px) {
  //    font-size: 1em;
  //}
  //@media (max-width: 1024px) {
  //    font-size: 0.9em;
  //}
  //@media (max-width: 915px) {
  //    font-size: 0.8em;
  //
  //}
  //@media (max-width: 566px) {
  //    font-size: 0.6em;
  //}
}

body.modal-open {
  //overflow: hidden;
}

img::selection, div::selection {
  background-color: transparent;
}

img::-moz-selection, div::-moz-selection {
  background-color: transparent;
}

#login-signup-tabs {
  position: relative;
  //margin: auto;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  //max-width: 800px;
  height: 27em;
  @media screen and (orientation: landscape) {
    height: 25em;
  }
  padding-bottom: 3em;
  //@media screen and (orientation: landscape) {
  //  height: 31em;
  //  @media (max-width: 1020px) {
  //    height: 25em;
  //  }
  //  @media (max-width: 600px) {
  //    height: 25em;
  //  }
  //}
  //height:100%;
  //.transition(all 1s);
  &.transition-toggle {
    .log-in, .sign-up, .forgotten-password, .missing-email {
      .transition(transform 0.5s);
    }
  }
  .log-in, .sign-up, .forgotten-password, .missing-email {
    font-size: 1.3em;
    color: #8E8C8C;
    background-color: #eeeeee;
    border: 3px solid #cccccc;
    //@media (max-width: 550px) {
    //  padding: 0 2em 0;
    //}
    //@media (max-width: 410px) {
    //  padding: 0 1em 0;
    //}

    > .fractal-login {
      position: relative;
      padding: 1.8em;
      //@media (max-width: 645px) {
      //padding-bottom: 80px;
      //}
      > form {
        position: relative;
      }
      > form input {
        display: block;
        padding-left: 10px;
        margin-top: 0.7em;
        width: 96.3%;
        background-color: #cccccc;
        color: #fff !important;
        border: 0;
        height: 2.5em;
        &::-webkit-input-placeholder {
          /* WebKit browsers */
          color: #fff;
        }
        &:-moz-placeholder {
          /* Mozilla Firefox 4 to 18 */
          color: #fff;
          opacity: 1;
        }
        &::-moz-placeholder {
          /* Mozilla Firefox 19+ */
          color: #fff;
          opacity: 1;
        }
        &:-ms-input-placeholder {
          /* Internet Explorer 10+ */
          color: #fff;
        }
        &.password-signup {
          margin-bottom: 2em;
          @media screen and (orientation: landscape) {
            margin-bottom: 4em;
            @media (max-width: 800px) {
              margin-bottom: 2em;
            }
          }
          //margin-bottom: 7em;
          //@media (max-width: 645px) {
          //  margin-bottom: 2em;
          //}
        }
      }
      > form a {
        display: block;
        //margin-top: 6.5em;
        margin-bottom: 4em;
        color: @color-red;
        text-decoration: underline;
        //@media (max-width: 645px) {
        margin-top: 1em;
        text-align: center;
        //}
        @media (max-width: 475px) {

          margin-bottom: 2em;
        }
      }
      > a:hover {
        //color:@color-light-red;
        //text-decoration:none;
      }
      > #forgotten-email-form {
        input {
          margin-bottom: 8em;
          @media (max-width: 610px) {
            margin-bottom: 4em;
          }
        }
      }

      > form .login-button, > form .signup-button, > form .send-button, > form .send-missing-email-button {
        cursor: pointer;
        font-size: @h2-size;
        background-color: @color-red;
        width: 4.5em;
        height: 2.5em;
        position: absolute;
        top: auto;
        color: #fff;
        line-height: 2.5em;
        text-align: center;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        bottom: 0%;
        -webkit-transform: translateY(120%);
        -moz-transform: translateY(120%);
        -ms-transform: translateY(120%);
        -o-transform: translateY(120%);
        transform: translateY(120%);

      }

    }

  }
}

.modal-absolute-wrapper {
  font-size: 1.95em;
  @media (max-width: 800px) {
    font-size: 1.6em;
  }
  @media (max-width: 600px) {
    font-size: 1.15em;
  }
  @media screen and(max-width: 580px) {
    font-size: 1.85em;
  }
  @media screen and (max-height: 480px) {
    font-size: 1.50em;
  }
  @media screen and (orientation: landscape) {
    font-size: 1.3em;
    @media (max-width: 1648px) {
      font-size: 1.1em;
    }
    @media (max-width: 1368px) {
      font-size: 0.9em;
    }
    @media (max-width: 1024px) {
      font-size: 0.85em;
    }
    @media (max-width: 767px) {
      font-size: 1em;
    }
    @media (max-width: 640px) {
      font-size: 0.9em;
    }
  }
  font-family: Montserrat, sans-serif;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: fade(@color-dark-purple, 85);
  z-index: 7000;
  height: 100%;
  .transition(background-color 0.4s);
  &.not-visible {
    overflow: hidden;
    background-color: transparent;
    visibility: hidden;
    * {
      visibility: hidden !important;
    }
  }
  &.login-wrapper-modal {
    > .login-modal {
      > div {
        > .modal {
          > .login-overlay {
            display: none;
            z-index: 6000;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.3);
            @media (max-width: 1120px) {
              font-size: 0.8em;
            }
            @media (max-width: 860px) {
              font-size: 0.6em;
            }
            @media (max-width: 800px) {
              font-size: 1em;
            }
            @media (max-width: 500px) {
              font-size: 0.85em;
            }
            &.show-popup {
              display: block;
            }
            > .login-overlay-popup-message {
              position: absolute;
              width: 80%;
              top: 50%;
              left: 50%;
              .translate(-50%, -50%);
              background: #fff;
              min-height: 250px;
              > .login-overlay-popup-message-header {
                height: 20%;
                width: 100%;
                position: absolute;
                top: 0;
                left: 50%;
                .translate(-50%, 0);
                //border-bottom: 1px solid @color-light-red;
                background: @color-red;

                > .login-overlay-popup-message-header-close {
                  position: absolute;
                  right: 2.5%;
                  top: 50%;
                  width: 5%;
                  padding-bottom: 5%;
                  height: 0;
                  .translate(0, -50%);
                  cursor: pointer;
                  //background: url('images/close.png') center center no-repeat;
                  //background-size: cover;

                }
              }
              > .login-overlay-popup-message-text {
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                height: 45%;
                width: 100%;
                text-align: center;
                position: absolute;
                left: 50%;
                top: 50%;
                .translate(-50%, -65%);
                > .login-overlay-popup-message-text-inner {
                  -webkit-box-sizing: border-box;
                  -moz-box-sizing: border-box;
                  box-sizing: border-box;
                  font-size: 1.2em;
                  @media (max-width: 883px) {
                    font-size: 1em;
                  }
                  width: 100%;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  padding: 15px;
                  .translate(-50%, -50%);
                  color: @color-red;
                }
              }
              > .login-overlay-popup-message-footer {
                height: 35%;
                width: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                > .login-overlay-popup-message-button {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  color: #fff;
                  font-size: 1.2em;
                  display: table;
                  cursor: pointer;
                  //line-height: 2.5em;
                  text-align: center;
                  .translate(-50%, -50%);
                  //background: @color-red;
                  height: 0;
                  width: 20%;
                  padding-bottom: 10%;
                  background: @color-red;
                  > .login-overlay-popup-message-button-text {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    .translate(-50%, -50%);
                  }
                }
              }
            }

          }
        }
      }
    }
  }
  &.contact-wrapper-modal {
    > .contact-modal {
      > .modal {
        //.d3-bo
        > .contact-overlay {
          display: none;
          z-index: 6000;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          width: 100%;
          height: 100%;
          background: rgba(255, 255, 255, 0.3);
          @media (max-width: 1120px) {
            font-size: 0.8em;
          }
          @media (max-width: 860px) {
            font-size: 0.6em;
          }
          @media (max-width: 800px) {
            font-size: 1em;
          }
          @media (max-width: 500px) {
            font-size: 0.85em;
          }
          &.show-popup {
            display: block;
          }
          > .contact-overlay-popup-message {
            position: absolute;
            width: 80%;
            top: 50%;
            left: 50%;
            .translate(-50%, -50%);
            background: #fff;
            min-height: 250px;
            > .contact-overlay-popup-message-header {
              height: 20%;
              width: 100%;
              position: absolute;
              top: 0;
              left: 50%;
              .translate(-50%, 0);
              //border-bottom: 1px solid @color-light-red;
              background: @color-red;

              > .contact-overlay-popup-message-header-close {
                position: absolute;
                right: 2.5%;
                top: 50%;
                width: 5%;
                padding-bottom: 5%;
                height: 0;
                .translate(0, -50%);
                cursor: pointer;
                //background: url('images/close.png') center center no-repeat;
                //background-size: cover;

              }
            }
            > .contact-overlay-popup-message-text {
              -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              box-sizing: border-box;
              height: 45%;
              width: 100%;
              text-align: center;
              position: absolute;
              left: 50%;
              top: 50%;
              .translate(-50%, -65%);
              > .contact-overlay-popup-message-text-inner {
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                font-size: 1.5em;
                width: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                padding: 15px;
                .translate(-50%, -50%);
                color: @color-red;
              }
            }
            > .contact-overlay-popup-message-footer {
              height: 35%;
              width: 100%;
              position: absolute;
              bottom: 0;
              left: 0;
              > .contact-overlay-popup-message-button {
                position: absolute;
                top: 50%;
                left: 50%;
                color: #fff;
                font-size: 1.5em;
                display: table;
                cursor: pointer;
                //line-height: 2.5em;
                text-align: center;
                .translate(-50%, -50%);
                //background: @color-red;
                height: 0;
                width: 20%;
                padding-bottom: 10%;
                background: @color-red;
                > .contact-overlay-popup-message-button-text {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  .translate(-50%, -50%);
                }
              }
            }
          }

        }
      }
    }
  }
  //&.contact-wrapper-modal, &.login-wrapper-modal, &.about-wrapper-modal, &.leaderboard-wrapper-modal, &.account-wrapper-modal {
  //    @media screen and (orientation: landscape) {
  //        @media (max-width: 1800px) {
  //            font-size: 0.9em;
  //        }
  //        @media (max-width: 1600px) {
  //            font-size: 0.8em;
  //        }
  //        @media (max-width: 1400px) {
  //            font-size: 0.7em;
  //        }
  //        @media (max-width: 1150px) {
  //            font-size: 0.5em;
  //        }
  //        @media (max-width: 900px) {
  //            font-size: 0.4em;
  //        }
  //    }
  //    @media screen and (orientation: portrait) {
  //        @media (max-width: 600px) {
  //            font-size: 0.9em;
  //        }
  //        @media (max-width: 500px) {
  //            font-size: 0.8em;
  //        }
  //        @media (max-width: 400px) {
  //            font-size: 0.55em;
  //        }
  //        @media (max-width: 300px) {
  //            font-size: 0.5em;
  //        }
  //    }

  //}
  .modal-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    .translate(-50%, -50%);
    width: 90%;
    //min-height: 100%;
    //padding-top: 2%;
    //padding-bottom: 2%;
    //background-color: fade(@color-dark-purple, 85);
    z-index: @z-index-modal;

    .modal {

      //width: 100%;
      position: relative;
      @media (orientation: landscape) {
        width: 45%;
        @media (max-width: 600px) {
          width: 60%;
        }
      }
      @media (orientation: portrait) {
        width: 95%;
      }
      &.account {
        height: 900px;
        @media (max-width: 800px) {
          height: 1100px;
        }
      }

      margin: auto;
      left: @modal-3d-box-width;
      right: @modal-3d-box-width;
      top: @modal-3d-box-width;
      //    bottom: @modal-3d-box-width;
      //    margin-left: @modal-3d-box-width;
      background-color: @modal-bg-color;

      .d3-box(@modal-3d-box-width, @modal-3d-box-left-color, @modal-3d-box-width, @modal-3d-box-top-color);

      header {
        position: relative;
        > h1 {
          box-sizing: border-box;
          width: 100%;
          margin: 0;
          padding: 0 0 0 floor(@modal-header-height/3);
          line-height: 2em;
          background-color: @modal-header-bg-color;
          color: @modal-header-color;
          text-align: center;
          text-transform: uppercase;
        }

        > a {
          position: absolute;
          right: 0;
          top: 50%;
          .translate(0, -50%);
          //float: right;
          //margin-top: -@modal-header-height;
          //margin-right: @modal-header-height/3;
          width: 2.5em;
          padding-bottom: 2.5em;
          margin-right: 1.5em;
          //background: url('../../../images/close.png') no-repeat center center;
          //background-size: 33%, 33%;
          > .close-cube-lines-left {
            position: absolute;
            top: 50%;
            left: 50%;
            //.translate(-50%,-50%);
            .transform(translate(-50%, -50%) rotateZ(135deg) scale(1.0, 1.0));
            -webkit-backface-visibility: hidden;
            outline: 1px solid transparent;
            display: block;
            width: 2.5em;
            height: 3px;
            //background: #fff;
            //&:before{
            //    content:'';
            //    position: absolute;
            //    top:0;
            //    left:0;
            //    width:100%;
            //    height:3px;
            //    background: #fff;
            //    .transform(rotateZ(90deg));
            //}
            .transition(transform 0.4s);
            background: #fff;
          }
          > .close-cube-lines-right {
            background: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            //.translate(-50%,-50%);
            .transform(translate(-50%, -50%) rotateZ(45deg) scale(1.0, 1.0));
            -webkit-backface-visibility: hidden;
            outline: 1px solid transparent;
            display: block;
            width: 2.5em;
            height: 3px;
            //background: #fff;
            .transition(transform 0.4s);
            //&:before{
            //    content:'';
            //    position: absolute;
            //    top:0;
            //    left:0;
            //    width:100%;
            //    height:3px;
            //    background: #fff;
            //    .transform(rotateZ(90deg));
            //}
          }
          &.rotate-on-hover {
            .transition(transform 0.4s);
            .transform(translate(0, -50%) rotateZ(0deg) scale(1.0, 1.0));
            -webkit-backface-visibility: hidden;
            outline: 1px solid transparent;
            &:hover {
              .transform(translate(0, -50%) rotateZ(180deg) scale(1.0, 1.0));
              //.transform(translate(0, -50%) rotateZ(180deg));
              //>.close-cube-lines-left{
              //
              //    .transform(translate(-50%,-50%) rotateZ(135deg));
              //}
              //>.close-cube-lines-right{
              //    .transform(translate(-50%,-50%) rotateZ(45deg));
              //}
            }

          }
        }

        > section {
          position: absolute;
          display: block;
          width: 100%;

          > ul {
            margin: 0;
            display: block;
            width: 100%;
            .list-clean();
            &.tabs-3 > li {
              width: 31.3%;

              &:last-child {
                width: 33.4%;
              }
            }

            > li {
              display: block;
              float: left;
              height: @modal-header-height;
              text-align: center;
              vertical-align: middle;

              &.active > a {
                background-color: @modal-tabs-bg-active-color;
              }
              &.overall-button, &.by-game-button, &.signup-button-wrapper, &.login-button-wrapper {
                width: 50% !important;;
              }
              > a {
                display: block;
                width: 100%;
                line-height: @modal-header-height;
                vertical-align: middle;
                background-color: @modal-tabs-bg-color;
                color: @modal-tabs-color;
                text-decoration: none;
                font-size: 1.5em;
                //@media (max-width: 550px) {
                //    font-size: @modal-tabs-font-size - 0.5;
                //}
                //@media (max-width: 410px) {
                //    font-size: @modal-tabs-font-size - 0.8;
                //}

                &:hover {
                  background-color: @modal-tabs-bg-hover-color;
                }
              }
            }
          }
        }
      }

      > section {
        clear: both;
      }

      > .social-login {
        padding: 3.5em 1.5em 0;
        font-size: 1.3em;
        color: #8E8C8C;
        text-align: center;
        //@media (max-width: 600px) {
        //  padding: 4.5em 2.5em 0;
        //}
        //@media (max-width: 400px) {
        //  padding: 4.5em 0.5em 0;
        //}
        > .login-socials {
          text-align: center;
          margin-top: 0.5em;
          margin-bottom: 0.5em;
          > .login-social-container {
            display: inline-block;
            width: 32%;
            text-align: right;
            img {
              cursor: pointer;
              height: 3.5em;
            }
          }

          > .login-social-container:nth-of-type(1) {
            text-align: center;
          }
          > .login-social-container:nth-of-type(3) {
            text-align: right;
            display: none;
          }
        }
      }
      > .account-avatar-iq-bar {
        position: relative;
        width: 55%;
        margin: 1.2em auto;
        max-width: 300px;
        height: 1.8em;
        font-size: 1.3em;
        @media (max-width: 800px) {
          //height: 2.9em;
          max-width: none;
          width: auto;
          margin-left: 6.5%;
          margin-right: 6.5%;
        }

        @media screen and (orientation: landscape) {
          @media (max-width: 1025px) {
            height: 3.5em;
          }
        }
        @media screen and (orientation: portrait) {
          @media (max-width: 500px) {
            height: 2em;
          }
          @media (max-width: 400px) {
            height: 2.9em;
          }
        }

        > .account-bar-min-iq {
          position: absolute;
          margin-top: -1.8em;
          color: @color-red;
        }
        > .account-bar-max-iq {
          position: absolute;
          right: 0;
          margin-top: -1.8em;
          color: @color-red;
        }
        > .account-prev-level, .account-next-level {
          @media (max-width: 800px) {
            display: none;
          }
        }
        > .account-prev-level {
          color: @color-red;
          position: absolute;
          width: 50%;
          left: -52%;
          text-align: right;
          bottom: 12px;
        }
        > .account-next-level {
          color: @color-red;
          position: absolute;
          width: 50%;
          right: -52%;
          text-align: left;
          bottom: 12px;
        }
        > hr {
          height: 1em;
          margin-top: 13px;
          border: 0;
          background: @color-red;
        }
        > .account-bar-iq {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          > .bar-iq-box {
            .translate(0, -22%);
            background: #F5F5F5;
            position: absolute;
            top: 0px;
            > .account-iq-points {
              width: 100%;
              position: absolute;
              bottom: -1.8em;
              margin: 0 auto;
              color: @color-red;
              > .under-box-centered-iq {
                position: absolute;
                left: 50%;
                top: 100%;
                .transform(translate(-50%, -100%));
              }
            }
          }
        }
      }
      > #account-sections {
        margin-top: 1.5%;
        height: 31.3em;
        @media screen and (orientation: landscape) {
          height: 25.3em;
        }
        //@media (max-width: 1100px) {
        //  height: 30em;
        //}
        //@media screen and (orientation: portrait) {
        //  height: 40.3em;
        //}
        //@media (max-width: 800px) {
        //  @media screen and (orientation: landscape) {
        //    height: 31.3em;
        //  }
        //}
        //@media (max-width: 568px) and (orientation: landscape) {
        //  height: 25em !important;
        //}

        > .half-account-cube {
          height: 100%;
          > .half-account-cube-sides {
            &.transition-toggle {
              .iq-points, .profile, .rankings, .cropping-section {
                .transition(transform 0.5s);
              }
            }
            > .iq-points, .profile, .rankings, .cropping-section {
              clear: both;
              height: 100%;

              //margin-top: 4.5%;
              > .iq-points-info {
                width: 101%;
                margin-left: -1%;
                height: 100%;
                //margin-top: 4.5%;
                background: #eeeeee;
                border: 3px solid #cccccc;
                box-sizing: border-box;
                //font-size: 1.4rem;
                //@media (max-width: 550px) {
                //    font-size: 1rem;
                //}
                //@media (max-width: 416px) {
                //    font-size: 0.7rem;
                //}

                > .iq-row {
                  //height: 65px;
                  width: 100%;
                  @media (max-width: 800px) {
                    //height: 81px;
                  }
                  > .iq-column {
                    padding-left: 2%;
                    background-color: @color-purple;
                    color: #fff;
                    float: left;
                    box-sizing: border-box;
                    width: 50%;

                    @media screen and (orientation: portrait) {
                      line-height: 5.4em;
                    }
                    @media screen and (orientation: landscape) {
                      line-height: 4.1em;
                    }
                    border-right: 1px solid @color-dark-purple;
                    border-bottom: 1px solid @color-dark-purple;
                    //@media (max-width: 920px) {
                    //    width: 47.81%;
                    //}
                    //@media (max-width: 825px) {
                    //    width: 47.80%;
                    //}
                    //@media (max-width: 800px) {
                    //
                    //}
                    //@media (max-width: 710px) {
                    //    width: 47.79%;
                    //}
                    //@media (max-width: 671px) {
                    //    width: 47.77%;
                    //}
                    //@media (max-width: 620px) {
                    //    width: 47.75%;
                    //}
                    //@media (max-width: 570px) {
                    //    width: 47.73%;
                    //
                    //}
                    //@media (max-width: 531px) {
                    //    width: 47.71%;
                    //}
                    //@media (max-width: 495px) {
                    //    width: 47.68%;
                    //}
                    //@media (max-width: 450px) {
                    //    width: 47.64%;
                    //}
                    //@media (max-width: 405px) {
                    //    width: 47.60%;
                    //}
                  }
                }
              }
              > .cropping {
                height: 100%;
                position: relative;
                //margin-top: 4.5%;
                width: 101%;
                margin-left: -1%;
                border: 3px solid #cccccc;
                background: #eeeeee;
                box-sizing: border-box;
                @media (max-width: 500px) {
                  //padding-bottom: 100px;
                }
                > .cropping-text {
                  position: absolute;
                  top: 2%;
                  left: 50%;
                  .translate(-50%, 0%);
                  text-align: center;
                  color: #8E8C8C;
                  width: 80%;
                  font-size: 1.2em;
                }
                > .btn-crop {
                  cursor: pointer;
                  margin: 0 0;
                  font-size: @h2-size;
                  background-color: @color-red;
                  width: 4.5em;
                  height: 2.5em;
                  position: absolute;
                  left: auto;
                  top: auto;
                  bottom: 5%;
                  right: 5%;
                  color: #fff;
                  text-align: center;
                  border: 0;
                  border-radius: 0;
                  @media (max-width: 570px) {
                    left: 0;
                    right: 0;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 0px;
                  }
                  @media (max-width: 500px) {
                    @media screen and (orientation: landscape) {
                      margin-bottom: 0;
                    }
                    @media screen and (orientation: portrait) {
                      margin-bottom: -3.7em;
                    }

                  }
                }
              }

              > .profile-edit {
                height: 100%;
                position: relative;
                //margin-top: 4.5%;
                width: 101%;
                margin-left: -1%;
                border: 3px solid #cccccc;
                background: #eeeeee;
                box-sizing: border-box;
                @media (max-width: 500px) {
                  //padding-bottom: 100px;
                }

                > .profile-username-edit {
                  text-align: center;
                  font-size: 1.5em;
                  color: #8E8C8C;
                  width: 80%;
                  //max-width:300px;
                  margin: 0.5em auto;
                  @media (max-width: 800px) {
                    max-width: none;
                    width: auto;
                    margin-left: 6.5%;
                    margin-right: 6.5%;
                  }

                  > form input {
                    padding-left: 10px;
                    margin-top: 1em;
                    width: 98.5%;
                    background-color: #cccccc;
                    color: #fff !important;
                    border: 0;
                    height: 2em;
                    &#file {
                      display: none;
                    }
                    &::-webkit-input-placeholder {
                      /* WebKit browsers */
                      color: #fff;
                    }
                    &:-moz-placeholder {
                      /* Mozilla Firefox 4 to 18 */
                      color: #fff;
                      opacity: 1;
                    }
                    &::-moz-placeholder {
                      /* Mozilla Firefox 19+ */
                      color: #fff;
                      opacity: 1;
                    }
                    &:-ms-input-placeholder {
                      /* Internet Explorer 10+ */
                      color: #fff;
                    }
                  }
                }
                > .profile-avatar-edit {
                  position: relative;
                  font-size: 1.5em;
                  color: #8E8C8C;
                  width: 80%;
                  //max-width:300px;
                  margin: 1em auto;
                  text-align: center;
                  @media (max-width: 500px) {

                    @media screen and (orientation: portrait) {
                      padding-bottom: 5.5em;
                    }
                    @media screen and (orientation: landscape) {
                      padding-bottom: 1.5em;
                    }
                  }
                  @media (max-width: 800px) {
                    max-width: none;
                    width: auto;
                    margin-left: 6.5%;
                    margin-right: 6.5%;
                  }
                  > .profile-edit-save, > .profile-logout {
                    cursor: pointer;
                    margin: 0 0;
                    font-size: 1.3em;
                    background-color: @color-red;
                    width: 4.5em;
                    height: 2.5em;
                    position: absolute;
                    left: auto;
                    top: auto;
                    bottom: 0;
                    right: 0;
                    color: #fff;
                    line-height: 2.5em;
                    text-align: center;
                    &.profile-logout {
                      //margin-right: 4.7em;
                      left: 50%;
                      .translate(-135%, -10%);
                      @media screen and (orientation: landscape) {
                        right: 0;
                        left: auto;
                        .translate(0%, -260%);
                      }

                    }
                    &.profile-edit-save {
                      left: 50%;
                      .translate(35%, -10%);
                      @media screen and (orientation: landscape) {
                        right: 0;
                        left: auto;
                        .translate(0%, -140%);
                      }
                    }

                  }
                  > .upload-picture {
                    height: 13em;
                    @media (max-width: 800px) {
                      @media screen and (orientation: portrait) {
                        padding-bottom: 4em;
                      }
                      @media screen and (orientation: landscape) {
                        padding-bottom: 2em;
                      }

                    }

                    > .current-avatar-wrapper {
                      position: relative;
                      content: "";
                      //background-image: url("../../../static/images/overlay_polygon.png");
                      //background-size:cover;
                      //background-repeat:no-repeat;
                      width: 7em;
                      height: 7em;
                      left: 50%;
                      -webkit-transform: translate(-50%, 0%);
                      -moz-transform: translate(-50%, 0%);
                      -ms-transform: translate(-50%, 0%);
                      -o-transform: translate(-50%, 0%);
                      transform: translate(-50%, 0%);
                      @media screen and (orientation: landscape) {
                        left: 0;
                        .translate(0, 0);
                      }
                      > img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                      }
                      > .current-avatar {
                        z-index: 100;
                        background: #000;
                      }
                      > .overlay-avatar {
                        z-index: 1000;
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                      }
                      > .browse-button {
                        text-align: center;
                        display: block;
                        position: absolute;
                        top: 37%;
                        left: 0;
                        right: 0;
                        width: 5em;
                        margin-left: auto;
                        margin-right: auto;
                        background: #f2f2f2;
                        text-decoration: none;
                        color: #9B9797;
                        padding: 3px;
                        opacity: 0.8;
                        z-index: 2000;
                        //@media (max-width: 800px) {
                        //  margin-left: 0;
                        //  margin-right: 0;
                        //  left: 9%;
                        //  top: 44%;
                        //}
                        //@media (max-width: 695px) {
                        //  left: 0;
                        //  right: 0;
                        //  top: 37%;
                        //  margin-left: auto;
                        //  margin-right: auto;
                        //}
                      }
                    }

                    > .croppic {

                    }
                  }

                }

              }
            }
          }
        }
      }
      > #contact-form {

        select, input {
          padding-left: 10px;
          display: block;
          width: 100%;
          height: 2.5em;
          margin-top: 15px;
          margin-bottom: 15px;
          background: #cccccc;
          color: #fff;
          &::-webkit-input-placeholder {
            color: #fff;
          }
          &::-moz-placeholder {
            color: #fff;
          }
          &:-ms-input-placeholder {
            color: #fff;
          }
          @-webkit-keyframes wiggle {
            0% {
              -webkit-transform: rotateZ(2deg);
            }
            50% {
              -webkit-transform: rotateZ(-2deg);
            }
            100% {
              -webkit-transform: rotateZ(2deg);
            }
          }
          @-moz-keyframes wiggle {
            0% {
              -moz-transform: rotateZ(2deg);
            }
            50% {
              -moz-transform: rotateZ(-2deg);
            }
            100% {
              -moz-transform: rotateZ(2deg);
            }
          }
          @-o-keyframes wiggle {
            0% {
              -o-transform: rotateZ(2deg);
            }
            50% {
              -o-transform: rotateZ(-2deg);
            }
            100% {
              -o-transform: rotateZ(2deg);
            }
          }
          @keyframes wiggle {
            0% {
              transform: rotateZ(2deg);
            }
            50% {
              transform: rotateZ(-2deg);
            }
            100% {
              transform: rotateZ(2deg);
            }
          }
          &.wiggle {
            -webkit-animation: wiggle 0.2s ease;
            -moz-animation: wiggle 0.2s ease;
            -o-animation: wiggle 0.2s ease;
            animation: wiggle 0.2s ease;
          }
          &.required {
            background-color: @color-red;
            -webkit-transition: background-color 1000ms linear;
            -moz-transition: background-color 1000ms linear;
            -o-transition: background-color 1000ms linear;
            -ms-transition: background-color 1000ms linear;
            transition: background-color 1000ms linear;

          }
          &.hidden-field {
            display: none;

          }
        }
        input, textarea, select {
          box-sizing: border-box;
          border: 1px solid rgb(169, 169, 169);
        }
        padding: 10pt;
        > .contact {
          padding: 0 5em 0;
          font-size: 1.3em;
          color: #8E8C8C;
          @media (max-width: 800px) {
            max-width: none;
            width: auto;
            padding-left: 6.5%;
            padding-right: 6.5%;
          }
          > .contact-social-wrapper {
            > .contact-socials {
              margin-top: 1em;
              margin-bottom: 3em;
              > .login-social-container {
                display: inline-block;
                width: 32%;
                text-align: center;

                > a > img {
                  height: 4.5em;
                  cursor: pointer;
                }
              }

              > .login-social-container:nth-of-type(1) {
                text-align: left;
              }
              > .login-social-container:nth-of-type(3) {
                text-align: right;
              }
            }

          }
          > .contact-text {
            position: relative;
            margin-bottom: 20px;
            > form {
              > textarea {
                box-sizing: border-box;
                color: #fff;
                padding-left: 10px;
                margin-bottom: 6em;
                display: block;
                width: 100%;
                height: 10em;
                resize: none;
                //border: 0;
                background: #cccccc;
                &::-webkit-input-placeholder {
                  /* WebKit browsers */
                  color: #fff;
                }
                &:-moz-placeholder {
                  /* Mozilla Firefox 4 to 18 */
                  color: #fff;
                  opacity: 1;
                }
                &::-moz-placeholder {
                  /* Mozilla Firefox 19+ */
                  color: #fff;
                  opacity: 1;
                }
                &:-ms-input-placeholder {
                  /* Internet Explorer 10+ */
                  color: #fff;
                }
                &.wiggle {
                  -webkit-animation: wiggle 0.2s ease;
                  -moz-animation: wiggle 0.2s ease;
                  -o-animation: wiggle 0.2s ease;
                  animation: wiggle 0.2s ease;
                }
                &.required {
                  background-color: @color-red;
                  -webkit-transition: background-color 1000ms linear;
                  -moz-transition: background-color 1000ms linear;
                  -o-transition: background-color 1000ms linear;
                  -ms-transition: background-color 1000ms linear;
                  transition: background-color 1000ms linear;

                }
              }

              > .send-button {
                cursor: pointer;
                margin: 0 0;
                font-size: @h2-size;
                background-color: @color-red;
                width: 5em;
                height: 2.5em;
                position: absolute;
                left: auto;
                top: auto;
                bottom: -3em;
                right: 0;
                color: #fff;
                line-height: 2.5em;
                text-align: center;
              }
            }
          }

        }

      }

      > footer {
        padding: 20px;
      }
      > .change-password-section {
        > .change-password-wrapper {
          p, li {
            font-size: 18px;
            color: #8E8C8C;
          }

          > form {
            padding-bottom: 150px;
          }
          > form input {
            display: block;
            padding-left: 10px;

            margin-top: 1em;
            width: 85%;
            background-color: #cccccc;
            color: #fff !important;
            border: 0;
            height: 2.5em;

            &::-webkit-input-placeholder {
              /* WebKit browsers */
              color: #fff;
            }
            &:-moz-placeholder {
              /* Mozilla Firefox 4 to 18 */
              color: #fff;
              opacity: 1;
            }
            &::-moz-placeholder {
              /* Mozilla Firefox 19+ */
              color: #fff;
              opacity: 1;
            }
            &:-ms-input-placeholder {
              /* Internet Explorer 10+ */
              color: #fff;
            }
          }
          > form a {
            display: block;
            margin-top: 6.5em;
            margin-bottom: 2em;
            color: @color-red;
            text-decoration: underline;
            @media (max-width: 645px) {
              margin-top: 1em;
              text-align: center;
            }
            @media (max-width: 475px) {

              margin-bottom: 2em;
            }
          }
          > a:hover {
            //color:@color-light-red;
            //text-decoration:none;
          }
          > form button {
            border: 0;
            cursor: pointer;
            font-size: @h2-size;
            background-color: @color-red;
            width: 150px;
            height: 75px;
            position: absolute;
            left: auto;
            top: auto;
            bottom: 25pt;
            right: 58pt;
            color: #fff;
            line-height: 75px;
            text-align: center;
            @media (max-width: 645px) {
              left: 0;
              right: 0;
              margin-left: auto;
              margin-right: auto;
            }
          }
        }
      }

      > .about-section, .change-password-section, .privacy-section {
        margin: 5em;
        @media (max-width: 490px) {
          margin: 1em;
        }

        > .about-wrapper, .change-password-wrapper, .privacy-wrapper {
          > .about-picture {
            vertical-align: top;
            display: inline-block;
            width: 20%;
            @media (max-width: 900px) {
              text-align: center;
              display: block;
              width: 100%;
              > img {
                margin: 0 auto;
              }
            }
            > img {
              display: block;
              width: 100%;
              @media screen and (orientation: portrait) {
                width: 21em;
              }

              //.poly-clip();
              max-width: 300px;
            }
          }
          > .about-text, .privacy-text {
            font-size: 1.5em;
            margin-left: 1em;
            margin-bottom: 5em;
            display: inline-block;
            width: 70%;
            color: #8E8C8C;
            > h1 {
              color: #8E8C8C;
            }
            @media (max-width: 900px) {
              text-align: justify;
              display: block;
              width: 90%;
              font-size: 1em;
              padding-bottom: 5em;
              > h1 {
                text-align: center;
              }
            }
          }
          .privacy-text {
            width: 91.2%;
            > h1, h2, h3, h4, h5, a {
              color: #908B8B;
            }
          }
        }
      }

    }
  }
}

.half-cube {
  position: relative;
  z-index: 0;
  height: 100%;
  .transform-style(preserve-3d);
  perspective: 3000px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;

  > .half-cube-sides {
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    .transform-style(preserve-3d);

  }
  .sign-up, .log-in, .forgotten-password, .missing-email {
    width: 83%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    .transform-origin(50% 50% 0px);
    outline: 1px solid transparent;
    overflow: hidden;
    -webkit-backface-visibility: hidden !important;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    //.transition(all 0s);
    > .game-header {
      height: 12.5%;
    }
  }
}

.half-account-cube {
  position: relative;
  z-index: 0;
  height: 100%;
  .transform-style(preserve-3d);
  perspective: 3000px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;

  > .half-account-cube-sides {
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    .transform-style(preserve-3d);

  }
  .profile, .iq-points, .rankings, .cropping-section {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    .transform-origin(50% 50% 0px);
    overflow: hidden;
    -webkit-backface-visibility: hidden !important;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    .transition(0);
    > .game-header {
      height: 12.5%;
    }
  }
}

#leaderboard-cube {
  &.transition-toggle {
    .overall-leaderboard, .by-game-leaderboard, .in-game-leaderboard {
      .transition(transform 0.5s);
    }
  }
}

.loading-circle {
  &.show-circle {
    display: block;
  }
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  //height: 5%;
  width: 3%;
  padding-bottom: 3%;
  animation: rotate 0.8s infinite linear;
  border: 4px solid #fff;
  border-right-color: transparent;
  border-radius: 50%;
  //&:before{
  //    content: '';
  //    display: block;
  //    margin: 0 auto;
  //    width: 15%;
  //    height: 15%;
  //    background-color: #333;
  //    border-radius: 100%;
  //    -webkit-animation: circleBounce 1.2s infinite ease-in-out both;
  //    animation: circleBounce 1.2s infinite ease-in-out both;
  //    -webkit-animation-delay: -0.1s;
  //    animation-delay: -0.1s;
  //}
}

@keyframes rotate {
  0% {
    transform: translate(0, -50%) rotate(0deg);
  }
  100% {
    transform: translate(0, -50%) rotate(360deg);
  }
}
