﻿@font-face {
    font-family: 'Oswald-Lite';
    font-style: normal;
    font-weight: 100;
    src: url('../Assets/Fonts/Oswald-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: url('../Assets/Fonts/Oswald.ttf') format('truetype');
}
p{
    position: absolute;
    top: 100%;
    left: 100%;
    font-family: "Oswald-Regular", sans-serif;
    visibility: hidden;
}
span{
    /*position: absolute;*/
    /*top: 100%;*/
    /*left: 100%;*/
    font-family: "Oswald-Lite", sans-serif;
    /*visibility: hidden;*/
}