/*THE NEW CUBE*/
@-webkit-keyframes loader-front-rotation {
    0% {
        -webkit-transform: perspective(2900px) rotateX(-37deg) rotateY(45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(-37deg) rotateY(45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(-37deg) rotateY(45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(-37deg) rotateY(45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(-37deg) rotateY(45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
    25% {
        -webkit-transform: perspective(2900px) rotateX(-37deg) rotateY(765deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(-37deg) rotateY(765deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(-37deg) rotateY(765deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(-37deg) rotateY(765deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(-37deg) rotateY(765deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
    100% {
        -webkit-transform: perspective(2900px) rotateX(-37deg) rotateY(765deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(-37deg) rotateY(765deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(-37deg) rotateY(765deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(-37deg) rotateY(765deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(-37deg) rotateY(765deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
}

@-moz-keyframes loader-front-rotation {
    0% {
        -webkit-transform: perspective(2900px) rotateX(-37deg) rotateY(45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(-37deg) rotateY(45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(-37deg) rotateY(45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(-37deg) rotateY(45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(-37deg) rotateY(45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
    25% {
        -webkit-transform: perspective(2900px) rotateX(-37deg) rotateY(765deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(-37deg) rotateY(765deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(-37deg) rotateY(765deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(-37deg) rotateY(765deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(-37deg) rotateY(765deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
    100% {
        -webkit-transform: perspective(2900px) rotateX(-37deg) rotateY(765deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(-37deg) rotateY(765deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(-37deg) rotateY(765deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(-37deg) rotateY(765deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(-37deg) rotateY(765deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
}

@-o-keyframes loader-front-rotation {
    0% {
        -webkit-transform: perspective(2900px) rotateX(-37deg) rotateY(45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(-37deg) rotateY(45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(-37deg) rotateY(45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(-37deg) rotateY(45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(-37deg) rotateY(45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
    25% {
        -webkit-transform: perspective(2900px) rotateX(-37deg) rotateY(765deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(-37deg) rotateY(765deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(-37deg) rotateY(765deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(-37deg) rotateY(765deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(-37deg) rotateY(765deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
    100% {
        -webkit-transform: perspective(2900px) rotateX(-37deg) rotateY(765deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(-37deg) rotateY(765deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(-37deg) rotateY(765deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(-37deg) rotateY(765deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(-37deg) rotateY(765deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
}

@keyframes loader-front-rotation {
    0% {
        -webkit-transform: perspective(2900px) rotateX(-37deg) rotateY(45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(-37deg) rotateY(45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(-37deg) rotateY(45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(-37deg) rotateY(45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(-37deg) rotateY(45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
    25% {
        -webkit-transform: perspective(2900px) rotateX(-37deg) rotateY(765deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(-37deg) rotateY(765deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(-37deg) rotateY(765deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(-37deg) rotateY(765deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(-37deg) rotateY(765deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
    100% {
        -webkit-transform: perspective(2900px) rotateX(-37deg) rotateY(765deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(-37deg) rotateY(765deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(-37deg) rotateY(765deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(-37deg) rotateY(765deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(-37deg) rotateY(765deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
}

@-webkit-keyframes loader-back-rotation {
    0% {
        -webkit-transform: perspective(2900px) rotateX(-37deg) rotateY(225deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(-37deg) rotateY(225deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(-37deg) rotateY(225deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(-37deg) rotateY(225deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(-37deg) rotateY(225deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
    25% {
        -webkit-transform: perspective(2900px) rotateX(-37deg) rotateY(945deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(-37deg) rotateY(945deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(-37deg) rotateY(945deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(-37deg) rotateY(945deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(-37deg) rotateY(945deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
    100% {
        -webkit-transform: perspective(2900px) rotateX(-37deg) rotateY(945deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(-37deg) rotateY(945deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(-37deg) rotateY(945deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(-37deg) rotateY(945deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(-37deg) rotateY(945deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
}

@-moz-keyframes loader-back-rotation {
    0% {
        -webkit-transform: perspective(2900px) rotateX(-37deg) rotateY(225deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(-37deg) rotateY(225deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(-37deg) rotateY(225deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(-37deg) rotateY(225deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(-37deg) rotateY(225deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
    25% {
        -webkit-transform: perspective(2900px) rotateX(-37deg) rotateY(945deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(-37deg) rotateY(945deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(-37deg) rotateY(945deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(-37deg) rotateY(945deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(-37deg) rotateY(945deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
    100% {
        -webkit-transform: perspective(2900px) rotateX(-37deg) rotateY(945deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(-37deg) rotateY(945deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(-37deg) rotateY(945deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(-37deg) rotateY(945deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(-37deg) rotateY(945deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
}

@-o-keyframes loader-back-rotation {
    0% {
        -webkit-transform: perspective(2900px) rotateX(-37deg) rotateY(225deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(-37deg) rotateY(225deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(-37deg) rotateY(225deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(-37deg) rotateY(225deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(-37deg) rotateY(225deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
    25% {
        -webkit-transform: perspective(2900px) rotateX(-37deg) rotateY(945deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(-37deg) rotateY(945deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(-37deg) rotateY(945deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(-37deg) rotateY(945deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(-37deg) rotateY(945deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
    100% {
        -webkit-transform: perspective(2900px) rotateX(-37deg) rotateY(945deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(-37deg) rotateY(945deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(-37deg) rotateY(945deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(-37deg) rotateY(945deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(-37deg) rotateY(945deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
}

@keyframes loader-back-rotation {
    0% {
        -webkit-transform: perspective(2900px) rotateX(-37deg) rotateY(225deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(-37deg) rotateY(225deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(-37deg) rotateY(225deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(-37deg) rotateY(225deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(-37deg) rotateY(225deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
    25% {
        -webkit-transform: perspective(2900px) rotateX(-37deg) rotateY(945deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(-37deg) rotateY(945deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(-37deg) rotateY(945deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(-37deg) rotateY(945deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(-37deg) rotateY(945deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
    100% {
        -webkit-transform: perspective(2900px) rotateX(-37deg) rotateY(945deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(-37deg) rotateY(945deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(-37deg) rotateY(945deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(-37deg) rotateY(945deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(-37deg) rotateY(945deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
}

@-webkit-keyframes loader-left-rotation {
    0% {
        -webkit-transform: perspective(2900px) rotateX(-37deg) rotateY(-45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(-37deg) rotateY(-45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(-37deg) rotateY(-45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(-37deg) rotateY(-45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(-37deg) rotateY(-45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
    25% {
        -webkit-transform: perspective(2900px) rotateX(-37deg) rotateY(675deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(-37deg) rotateY(675deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(-37deg) rotateY(675deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(-37deg) rotateY(675deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(-37deg) rotateY(675deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
    100% {
        -webkit-transform: perspective(2900px) rotateX(-37deg) rotateY(675deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(-37deg) rotateY(675deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(-37deg) rotateY(675deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(-37deg) rotateY(675deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(-37deg) rotateY(675deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
}

@-moz-keyframes loader-left-rotation {
    0% {
        -webkit-transform: perspective(2900px) rotateX(-37deg) rotateY(-45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(-37deg) rotateY(-45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(-37deg) rotateY(-45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(-37deg) rotateY(-45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(-37deg) rotateY(-45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
    25% {
        -webkit-transform: perspective(2900px) rotateX(-37deg) rotateY(675deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(-37deg) rotateY(675deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(-37deg) rotateY(675deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(-37deg) rotateY(675deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(-37deg) rotateY(675deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
    100% {
        -webkit-transform: perspective(2900px) rotateX(-37deg) rotateY(675deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(-37deg) rotateY(675deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(-37deg) rotateY(675deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(-37deg) rotateY(675deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(-37deg) rotateY(675deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
}

@-o-keyframes loader-left-rotation {
    0% {
        -webkit-transform: perspective(2900px) rotateX(-37deg) rotateY(-45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(-37deg) rotateY(-45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(-37deg) rotateY(-45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(-37deg) rotateY(-45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(-37deg) rotateY(-45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
    25% {
        -webkit-transform: perspective(2900px) rotateX(-37deg) rotateY(675deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(-37deg) rotateY(675deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(-37deg) rotateY(675deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(-37deg) rotateY(675deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(-37deg) rotateY(675deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
    100% {
        -webkit-transform: perspective(2900px) rotateX(-37deg) rotateY(675deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(-37deg) rotateY(675deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(-37deg) rotateY(675deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(-37deg) rotateY(675deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(-37deg) rotateY(675deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
}

@keyframes loader-left-rotation {
    0% {
        -webkit-transform: perspective(2900px) rotateX(-37deg) rotateY(-45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(-37deg) rotateY(-45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(-37deg) rotateY(-45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(-37deg) rotateY(-45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(-37deg) rotateY(-45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
    25% {
        -webkit-transform: perspective(2900px) rotateX(-37deg) rotateY(675deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(-37deg) rotateY(675deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(-37deg) rotateY(675deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(-37deg) rotateY(675deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(-37deg) rotateY(675deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
    100% {
        -webkit-transform: perspective(2900px) rotateX(-37deg) rotateY(675deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(-37deg) rotateY(675deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(-37deg) rotateY(675deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(-37deg) rotateY(675deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(-37deg) rotateY(675deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
}

@-webkit-keyframes loader-right-rotation {
    0% {
        -webkit-transform: perspective(2900px) rotateX(-37deg) rotateY(135deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(-37deg) rotateY(135deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(-37deg) rotateY(135deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(-37deg) rotateY(135deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(-37deg) rotateY(135deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
    25% {
        -webkit-transform: perspective(2900px) rotateX(-37deg) rotateY(855deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(-37deg) rotateY(855deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(-37deg) rotateY(855deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(-37deg) rotateY(855deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(-37deg) rotateY(855deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
    100% {
        -webkit-transform: perspective(2900px) rotateX(-37deg) rotateY(855deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(-37deg) rotateY(855deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(-37deg) rotateY(855deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(-37deg) rotateY(855deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(-37deg) rotateY(855deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
}

@-moz-keyframes loader-right-rotation {
    0% {
        -webkit-transform: perspective(2900px) rotateX(-37deg) rotateY(135deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(-37deg) rotateY(135deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(-37deg) rotateY(135deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(-37deg) rotateY(135deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(-37deg) rotateY(135deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
    25% {
        -webkit-transform: perspective(2900px) rotateX(-37deg) rotateY(855deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(-37deg) rotateY(855deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(-37deg) rotateY(855deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(-37deg) rotateY(855deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(-37deg) rotateY(855deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
    100% {
        -webkit-transform: perspective(2900px) rotateX(-37deg) rotateY(855deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(-37deg) rotateY(855deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(-37deg) rotateY(855deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(-37deg) rotateY(855deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(-37deg) rotateY(855deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
}

@-o-keyframes loader-right-rotation {
    0% {
        -webkit-transform: perspective(2900px) rotateX(-37deg) rotateY(135deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(-37deg) rotateY(135deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(-37deg) rotateY(135deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(-37deg) rotateY(135deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(-37deg) rotateY(135deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
    25% {
        -webkit-transform: perspective(2900px) rotateX(-37deg) rotateY(855deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(-37deg) rotateY(855deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(-37deg) rotateY(855deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(-37deg) rotateY(855deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(-37deg) rotateY(855deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
    100% {
        -webkit-transform: perspective(2900px) rotateX(-37deg) rotateY(855deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(-37deg) rotateY(855deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(-37deg) rotateY(855deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(-37deg) rotateY(855deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(-37deg) rotateY(855deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
}

@keyframes loader-right-rotation {
    0% {
        -webkit-transform: perspective(2900px) rotateX(-37deg) rotateY(135deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(-37deg) rotateY(135deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(-37deg) rotateY(135deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(-37deg) rotateY(135deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(-37deg) rotateY(135deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
    25% {
        -webkit-transform: perspective(2900px) rotateX(-37deg) rotateY(855deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(-37deg) rotateY(855deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(-37deg) rotateY(855deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(-37deg) rotateY(855deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(-37deg) rotateY(855deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
    100% {
        -webkit-transform: perspective(2900px) rotateX(-37deg) rotateY(855deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(-37deg) rotateY(855deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(-37deg) rotateY(855deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(-37deg) rotateY(855deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(-37deg) rotateY(855deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
}

@-webkit-keyframes loader-top-rotation {
    0% {
        -webkit-transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-45deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-45deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-45deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-45deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-45deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
    25% {
        -webkit-transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
    100% {
        -webkit-transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
}

@-moz-keyframes loader-top-rotation {
    0% {
        -webkit-transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-45deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-45deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-45deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-45deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-45deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
    25% {
        -webkit-transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
    100% {
        -webkit-transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
}

@-o-keyframes loader-top-rotation {
    0% {
        -webkit-transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-45deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-45deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-45deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-45deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-45deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
    25% {
        -webkit-transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
    100% {
        -webkit-transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
}

@keyframes loader-top-rotation {
    0% {
        -webkit-transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-45deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-45deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-45deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-45deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-45deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
    25% {
        -webkit-transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
    100% {
        -webkit-transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
}

@-webkit-keyframes loader-bottom-rotation {
    0% {
        -webkit-transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(45deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(45deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(45deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(45deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(45deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
    25% {
        -webkit-transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
    100% {
        -webkit-transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
}

@-moz-keyframes loader-bottom-rotation {
    0% {
        -webkit-transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(45deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(45deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(45deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(45deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(45deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
    25% {
        -webkit-transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
    100% {
        -webkit-transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
}

@-o-keyframes loader-bottom-rotation {
    0% {
        -webkit-transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(45deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(45deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(45deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(45deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(45deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
    25% {
        -webkit-transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
    100% {
        -webkit-transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
}

@keyframes loader-bottom-rotation {
    0% {
        -webkit-transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(45deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(45deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(45deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(45deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(45deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
    25% {
        -webkit-transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
    100% {
        -webkit-transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -moz-transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -ms-transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        -o-transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
        transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(765deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    }
}

.fractal-games-leaderboard-logo {
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transform: translate(50%, 40%);
    -moz-transform: translate(50%, 40%);
    -ms-transform: translate(50%, 40%);
    -o-transform: translate(50%, 40%);
    transform: translate(50%, 20%);
    width: 5.6%;
    padding-bottom: 6.6%;
}



div.leaderboard-cube-wrapper {
    -webkit-transform: translate(-50%, -50%) !important;
    -moz-transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
    -o-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
}

div.leaderboard-cube-wrapper.animate > div.leaderboard-cube > .leaderboard-cube-sides > .leaderboard-front {
    -webkit-animation: loader-front-rotation 10000ms infinite;
    -moz-animation: loader-front-rotation 10000ms infinite;
    -ms-animation: loader-front-rotation 10000ms infinite;
    -o-animation: loader-front-rotation 10000ms infinite;
    animation: loader-front-rotation 10000ms infinite;
    animation-timing-function: cubic-bezier(0.16, 0.42, 0.25, 1.42);
    animation-fill-mode: forwards;
    animation-delay: 2s;
    -webkit-transform: perspective(2900px) rotateX(-37deg) rotateY(45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    -moz-transform: perspective(2900px) rotateX(-37deg) rotateY(45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    -ms-transform: perspective(2900px) rotateX(-37deg) rotateY(45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    -o-transform: perspective(2900px) rotateX(-37deg) rotateY(45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    transform: perspective(2900px) rotateX(-37deg) rotateY(45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
}

div.leaderboard-cube-wrapper.animate > div.leaderboard-cube > .leaderboard-cube-sides > .leaderboard-left {
    -webkit-animation: loader-left-rotation 10000ms infinite;
    -moz-animation: loader-left-rotation 10000ms infinite;
    -ms-animation: loader-left-rotation 10000ms infinite;
    -o-animation: loader-left-rotation 10000ms infinite;
    animation: loader-left-rotation 10000ms infinite;
    -webkit-transform: perspective(2900px) rotateX(-37deg) rotateY(-45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    -moz-transform: perspective(2900px) rotateX(-37deg) rotateY(-45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    -ms-transform: perspective(2900px) rotateX(-37deg) rotateY(-45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    -o-transform: perspective(2900px) rotateX(-37deg) rotateY(-45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    transform: perspective(2900px) rotateX(-37deg) rotateY(-45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    animation-timing-function: cubic-bezier(0.16, 0.42, 0.25, 1.42);
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

div.leaderboard-cube-wrapper.animate > div.leaderboard-cube > .leaderboard-cube-sides > .leaderboard-right {
    -webkit-animation: loader-right-rotation 10000ms infinite;
    -moz-animation: loader-right-rotation 10000ms infinite;
    -ms-animation: loader-right-rotation 10000ms infinite;
    -o-animation: loader-right-rotation 10000ms infinite;
    animation: loader-right-rotation 10000ms infinite;
    -webkit-transform: perspective(2900px) rotateX(-37deg) rotateY(135deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    -moz-transform: perspective(2900px) rotateX(-37deg) rotateY(135deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    -ms-transform: perspective(2900px) rotateX(-37deg) rotateY(135deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    -o-transform: perspective(2900px) rotateX(-37deg) rotateY(135deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    transform: perspective(2900px) rotateX(-37deg) rotateY(135deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    animation-timing-function: cubic-bezier(0.16, 0.42, 0.25, 1.42);
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

div.leaderboard-cube-wrapper.animate > div.leaderboard-cube > .leaderboard-cube-sides > .leaderboard-back {
    -webkit-animation: loader-back-rotation 10000ms infinite;
    -moz-animation: loader-back-rotation 10000ms infinite;
    -ms-animation: loader-back-rotation 10000ms infinite;
    -o-animation: loader-back-rotation 10000ms infinite;
    animation: loader-back-rotation 10000ms infinite;
    -webkit-transform: perspective(2900px) rotateX(-37deg) rotateY(225deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    -moz-transform: perspective(2900px) rotateX(-37deg) rotateY(225deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    -ms-transform: perspective(2900px) rotateX(-37deg) rotateY(225deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    -o-transform: perspective(2900px) rotateX(-37deg) rotateY(225deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    transform: perspective(2900px) rotateX(-37deg) rotateY(225deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    animation-timing-function: cubic-bezier(0.16, 0.42, 0.25, 1.42);
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

div.leaderboard-cube-wrapper.animate > div.leaderboard-cube > .leaderboard-cube-sides > .leaderboard-bottom {
    -webkit-animation: loader-bottom-rotation 10000ms infinite;
    -moz-animation: loader-bottom-rotation 10000ms infinite;
    -ms-animation: loader-bottom-rotation 10000ms infinite;
    -o-animation: loader-bottom-rotation 10000ms infinite;
    animation: loader-bottom-rotation 10000ms infinite;
    -webkit-transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(45deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    -moz-transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(45deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    -ms-transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(45deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    -o-transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(45deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(45deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    animation-timing-function: cubic-bezier(0.16, 0.42, 0.25, 1.42);
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

div.leaderboard-cube-wrapper.animate > div.leaderboard-cube > .leaderboard-cube-sides > .leaderboard-top {
    -webkit-animation: loader-top-rotation 10000ms infinite;
    -moz-animation: loader-top-rotation 10000ms infinite;
    -ms-animation: loader-top-rotation 10000ms infinite;
    -o-animation: loader-top-rotation 10000ms infinite;
    animation: loader-top-rotation 10000ms infinite;
    -webkit-transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-45deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    -moz-transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-45deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    -ms-transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-45deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    -o-transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-45deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-45deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    animation-timing-function: cubic-bezier(0.16, 0.42, 0.25, 1.42);
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

div.leaderboard-cube-wrapper > div.leaderboard-cube > .leaderboard-cube-sides > .leaderboard-front {
    -webkit-transform: perspective(2900px) rotateX(-37deg) rotateY(45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    -moz-transform: perspective(2900px) rotateX(-37deg) rotateY(45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    -ms-transform: perspective(2900px) rotateX(-37deg) rotateY(45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    -o-transform: perspective(2900px) rotateX(-37deg) rotateY(45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    transform: perspective(2900px) rotateX(-37deg) rotateY(45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
}

div.leaderboard-cube-wrapper > div.leaderboard-cube > .leaderboard-cube-sides > .leaderboard-left {
    -webkit-transform: perspective(2900px) rotateX(-37deg) rotateY(-45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    -moz-transform: perspective(2900px) rotateX(-37deg) rotateY(-45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    -ms-transform: perspective(2900px) rotateX(-37deg) rotateY(-45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    -o-transform: perspective(2900px) rotateX(-37deg) rotateY(-45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    transform: perspective(2900px) rotateX(-37deg) rotateY(-45deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);

}

div.leaderboard-cube-wrapper > div.leaderboard-cube > .leaderboard-cube-sides > .leaderboard-right {
    -webkit-transform: perspective(2900px) rotateX(-37deg) rotateY(135deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    -moz-transform: perspective(2900px) rotateX(-37deg) rotateY(135deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    -ms-transform: perspective(2900px) rotateX(-37deg) rotateY(135deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    -o-transform: perspective(2900px) rotateX(-37deg) rotateY(135deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    transform: perspective(2900px) rotateX(-37deg) rotateY(135deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
}

div.leaderboard-cube-wrapper > div.leaderboard-cube > .leaderboard-cube-sides > .leaderboard-back {
    -webkit-transform: perspective(2900px) rotateX(-37deg) rotateY(225deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    -moz-transform: perspective(2900px) rotateX(-37deg) rotateY(225deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    -ms-transform: perspective(2900px) rotateX(-37deg) rotateY(225deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    -o-transform: perspective(2900px) rotateX(-37deg) rotateY(225deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    transform: perspective(2900px) rotateX(-37deg) rotateY(225deg) rotateZ(0deg) rotateY(-90deg) translateX(50%) rotateY(90deg);

}

div.leaderboard-cube-wrapper > div.leaderboard-cube > .leaderboard-cube-sides > .leaderboard-bottom {
    -webkit-transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(45deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    -moz-transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(45deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    -ms-transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(45deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    -o-transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(45deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    transform: perspective(2900px) rotateX(-127deg) rotateY(0deg) rotateZ(45deg) rotateY(-90deg) translateX(50%) rotateY(90deg);

}

div.leaderboard-cube-wrapper > div.leaderboard-cube > .leaderboard-cube-sides > .leaderboard-top {
    -webkit-transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-45deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    -moz-transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-45deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    -ms-transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-45deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    -o-transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-45deg) rotateY(-90deg) translateX(50%) rotateY(90deg);
    transform: perspective(2900px) rotateX(53deg) rotateY(0deg) rotateZ(-45deg) rotateY(-90deg) translateX(50%) rotateY(90deg);

}

div.fractal-games-logo {
    visibility: visible;
    opacity: 1;
    -webkit-transition-delay: 0s !important;
    -moz-transition-delay: 0s !important;
    -ms-transition-delay: 0s !important;
    -o-transition-delay: 0s !important;
    transition-delay: 0s !important;
}

div.fractal-games-logo {
    background: url('../img/loader-logo.png') center center no-repeat;
    background-size: cover;
    width: 70%;
    padding-bottom: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: visibility 0s linear 600ms, opacity 600ms;
    -moz-transition: visibility 0s linear 600ms, opacity 600ms;
    -ms-transition: visibility 0s linear 600ms, opacity 600ms;
    -o-transition: visibility 0s linear 600ms, opacity 600ms;
    transition: visibility 0s linear 600ms, opacity 600ms;
    visibility: hidden;
    opacity: 0;
}

div.leaderboard-cube-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
}

div.leaderboard-cube-wrapper.leaderboard-wrapper {
    width: 11%;
    height: 100%;
    float: left;
}

div.leaderboard-cube-wrapper.leaderboard-wrapper:nth-child(odd) {
    margin-left: 3%;
}

div.leaderboard-cube-wrapper.transform-center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

div.leaderboard-cube-wrapper > div.leaderboard-cube {
    color: #fff;
    text-align: center;
    width: 50%;
    position: relative;
}

div.leaderboard-cube-wrapper > div.leaderboard-cube.leaderboard-main-cube-wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

div.leaderboard-cube-wrapper > div.leaderboard-cube > div.leaderboard-cube-sides {
    height: 100%;
    width: 100%;
    -webkit-perspective: 9999px;
    -moz-perspective: 9999px;
    -ms-perspective: 9999px;
    perspective: 9999px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

div.leaderboard-cube-wrapper > div.leaderboard-cube > div.leaderboard-cube-sides.effect-on > .leaderboard-front,
div.leaderboard-cube-wrapper > div.leaderboard-cube > div.leaderboard-cube-sides.effect-on .leaderboard-left,
div.leaderboard-cube-wrapper > div.leaderboard-cube > div.leaderboard-cube-sides.effect-on .leaderboard-top,
div.leaderboard-cube-wrapper > div.leaderboard-cube > div.leaderboard-cube-sides.effect-on .leaderboard-right,
div.leaderboard-cube-wrapper > div.leaderboard-cube > div.leaderboard-cube-sides.effect-on .leaderboard-bottom,
div.leaderboard-cube-wrapper > div.leaderboard-cube > div.leaderboard-cube-sides.effect-on .leaderboard-back {
    -webkit-transition: -webkit-transform 500ms;
    -moz-transition: -moz-transform 500ms;
    -ms-transition: -ms-transform 500ms;
    -o-transition: -o-transform 500ms;
    transition: transform 500ms;
}

div.leaderboard-cube-wrapper > div.leaderboard-cube > div.leaderboard-cube-sides > .leaderboard-front,
div.leaderboard-cube-wrapper > div.leaderboard-cube > div.leaderboard-cube-sides .leaderboard-left,
div.leaderboard-cube-wrapper > div.leaderboard-cube > div.leaderboard-cube-sides .leaderboard-top,
div.leaderboard-cube-wrapper > div.leaderboard-cube > div.leaderboard-cube-sides .leaderboard-right,
div.leaderboard-cube-wrapper > div.leaderboard-cube > div.leaderboard-cube-sides .leaderboard-bottom,
div.leaderboard-cube-wrapper > div.leaderboard-cube > div.leaderboard-cube-sides .leaderboard-back {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    /*outline: 0.1px solid transparent;*/
}

div.leaderboard-cube-wrapper > div.leaderboard-cube > div.leaderboard-cube-sides > .leaderboard-front > span,
div.leaderboard-cube-wrapper > div.leaderboard-cube > div.leaderboard-cube-sides .leaderboard-left > span,
div.leaderboard-cube-wrapper > div.leaderboard-cube > div.leaderboard-cube-sides .leaderboard-top > span,
div.leaderboard-cube-wrapper > div.leaderboard-cube > div.leaderboard-cube-sides .leaderboard-right > span,
div.leaderboard-cube-wrapper > div.leaderboard-cube > div.leaderboard-cube-sides .leaderboard-bottom > span,
div.leaderboard-cube-wrapper > div.leaderboard-cube > div.leaderboard-cube-sides .leaderboard-back > span {
    display: block;
    font-size: 6em;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) translateZ(0px) scale(1);
    -moz-transform: translate(-50%, -50%) translateZ(0px) scale(1);
    -ms-transform: translate(-50%, -50%) translateZ(0px) scale(1);
    -o-transform: translate(-50%, -50%) translateZ(0px) scale(1);
    transform: translate(-50%, -50%) translateZ(0px) scale(1);
}

div.leaderboard-cube-wrapper > div.leaderboard-cube > div.leaderboard-cube-sides > .purple {
    background: #3f376b;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #3f376b 0%, #6446c5 50%, #754ced 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #3f376b), color-stop(50%, #6446c5), color-stop(100%, #754ced));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg, #3f376b 0%, #6446c5 50%, #754ced 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg, #3f376b 0%, #6446c5 50%, #754ced 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg, #3f376b 0%, #6446c5 50%, #754ced 100%);
    /* IE10+ */
    background: linear-gradient(45deg, #3f376b 0%, #6446c5 50%, #754ced 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3f376b', endColorstr='#754ced', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

div.spl-cube-wrapper-position {
    width: 100%;
    padding-bottom: 100%;
}

/*@media screen and (orientation: landscape) {*/
/*div.cube-wrapper-position {*/
/*width: 18%;*/
/*padding-bottom: 18%;*/
/*}*/
/*}*/

.d-yellow {
    background: #E3D700;
}

.l-yellow {
    background: #F7EA00;
}

.m-yellow {
    background: #ECE200;
}

div.leaderboard-cube-wrapper > div.leaderboard-cube > div.leaderboard-cube-sides > .blue {
    background: #1c94a1;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #1c94a1 0%, #1bb2b4 50%, #1ecabe 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #1c94a1), color-stop(50%, #1bb2b4), color-stop(100%, #1ecabe));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg, #1c94a1 0%, #1bb2b4 50%, #1ecabe 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg, #1c94a1 0%, #1bb2b4 50%, #1ecabe 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg, #1c94a1 0%, #1bb2b4 50%, #1ecabe 100%);
    /* IE10+ */
    background: linear-gradient(45deg, #1c94a1 0%, #1bb2b4 50%, #1ecabe 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1c94a1', endColorstr='#1ecabe', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

div.leaderboard-cube-wrapper > div.leaderboard-cube > div.leaderboard-cube-sides > .green {
    background: #55d388;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #55d388 0%, #62f59d 50%, #66ffa4 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #55d388), color-stop(50%, #62f59d), color-stop(100%, #66ffa4));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #55d388 0%, #62f59d 50%, #66ffa4 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #55d388 0%, #62f59d 50%, #66ffa4 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #55d388 0%, #62f59d 50%, #66ffa4 100%);
    /* IE10+ */
    background: linear-gradient(135deg, #55d388 0%, #62f59d 50%, #66ffa4 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#55d388', endColorstr='#66ffa4', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}
@media screen and (orientation: landscape) {
    .fractal-games-leaderboard-logo {
        width: 2.4%;
        padding-bottom: 2.8%;
    }
}